.blog-right-search.mobile,
.home-lang.mobile {
    display: none;
}
.main-menu li a span.h i {
    font-size: 16px;
    font-weight: 600;
}
.navigation-fix-to-top {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}
/*================================================
	content
========================================*/
.container.container-content {
    box-shadow: 1px 2px 6px #807e7e;
    padding: 20px 20px;
    padding-bottom: 0;
}
	/*content left*/
	ul.breadcrum-list {
		list-style-type: disc;
	}
	ul.breadcrum-list li {
		display: inline-block;
		padding: 0 10px;
		list-style: initial;
	}
	ul.breadcrum-list li:first-child {
		padding: 0;
	}

	div#president-message-box {
		border: solid 1px #ccc;
		padding: 5px;
		border-radius: 3px;
	}
	.president-message {
		background-repeat: no-repeat;
		background-size: cover;
	}
	.president-message .row {
		margin: 0;
	}
	.president-message .message-contant {
		background-color: rgba(0, 168, 89, 0.8);
		padding-left: 35px;
		padding: 10px 20px;
	}
	.president-message .message-contant .message-iteam {
		color: #fff;
		min-height: 200px;
		text-align: justify;
		font-size: 14px;
	}
	.president-message .message-contant h4 {
		color: #ffff;
	}
	.message-more {
		position: absolute;
		right: 20px;
		bottom: 10px;
	}
	.message-more a.readmore {
		color: #fff;
		font-size: 14px;
	}
	 a.readmore:hover {
		text-decoration: underline;
	}
	div#president-curriculum {
		border: solid 1px #ccc;
		padding: 5px;
		border-radius: 3px;
		background: #fff;
	}
	.president-curriculum {
		position: relative;
	}
	.curriculum-contant .curriculum-iteam {
		position: relative;
	}

	.curriculum-contant .curriculum-iteam pre {
		padding: 0;
		background: none;
		width: 100%;
		border: none;
		font-family: 'Droid Sans',sans-serif,'Battambang';
		overflow: initial;
		max-width: 100%;
		margin: 0;
		position: initial;
		font-size: 18px;
		font-weight: 600;
		color: #2f2d2d;
		line-height: 28px;
		white-space: pre-line;
	}
	.president-profile {
		margin: 0 auto;
		padding: 10px;
	}
	.president-profile img {
		box-shadow: 3px 3px 3px #c1bbbb;
		border: solid 1px #eee;
	}
	.curriculum-more {
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
	div#blog-search-home {
		background: #00a859;
		border: solid 1px #ccc;
		padding: 5px;
		border-radius: 3px;
	}
	
	.search-home-contant .row-form-home .col-sm-12,
	.search-home-contant .row-form-home .col-sm-9,
	.search-home-contant .row-form-home .col-sm-6, 
	.search-home-contant .row-form-home .col-sm-4,
	.search-home-contant .row-form-home .col-sm-3,
	.search-home-contant .row-form-home .col-sm-2 {
		padding: 0;
		margin: 0;
	}
	.search-home-contant {
		position: relative;
	}
	.search-home-contant .row-form-home input {
		background: #fff;
		height: 45px;
		font-size: 14px;
		border: solid 1px #eee;
	}
	.search-home-contant .row-form-home .select2-container--default .select2-selection--single {
		height: 45px;
		border-radius: 0;
		border: solid 1px #eee;
	}
	.button_submit input.btu_submit {
		background: #00a859;
		background: linear-gradient(#059443, #007740);
		color: #ffff;
		border: solid 1px #027f41;
	}
	.button_submit input.btu_submit:hover {
		opacity: 0.7;
	}
	.search-home-contant .head-title {
		color: #fff;
	}
	.search-home-contant .head-title h4 {
		color: #fff;
	}
	.search-home-contant .head-title small {
		font-size: 14px;
	}
	div#news-events {
		border: solid 1px #ccc;
		padding: 5px;
		border-radius: 3px;
		background: #fff;
    margin-bottom: -5px;
	}
	.news-events-contant {
		position: relative;
	}
	.news-events-contant .head-title,
	.document-file-contant .head-title	{
		border-bottom: solid 1px #eeeeee;
		position: relative;
	}
	.document-file-contant .head-title h4, .news-events-contant .head-title h4 {
		color: #00a859;
	}
	.blog-article-list {
		margin-bottom: 25px;
		padding: 0 10px;
	}
	.blog-article-list .list {
		margin-bottom: 10px;
		padding-bottom: 15px;
		border-bottom: solid 1px #e0e0e0;
	}
	.blog-article-list .list .blog-image a img {
		border: solid 1px #eee;
		padding: 2px;
	}
	.blog-article-list .blog-post-text h4 {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5em;
		height: 3em;
		overflow: hidden;
	}
	.blog-article-list .blog-post-text p {
		font-size: 14px;
		margin-bottom: 10px;
		color: #000;
		line-height: 1.5em;
		height: 3em;
		overflow: hidden;
	}
	.blog-article-list .blog-post-text .readmore {
		text-align: right;
	}
	.blog-article-list .blog-post-text .readmore a {
		color: #00a859;
	}
	.blog-showall a.showall:hover,
	.blog-article-list .blog-post-text .readmore a:hover {
		text-decoration: underline;
	}
	.blog-showall {
		position: absolute;
		top: 15px;
		right: 20px;
	}
	.blog-showall a.showall {
		font-size: 18px;
		color: #00a859;
	}




	/*content right*/
	ul.lang-list li {
		display: inline-block;
		padding: 0 10px;
	}
	ul.lang-list li span {
		display: inline-block;
		font-size: 19px;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		color: #0831a2;
	}

	.blog-right-search {
		background: #05a957;
		padding: 5px 0;
	}
		form.form-general-search {
		    width: 100%;
		    display: inherit;
		}
	.input-group.seachbox {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 95%;
		margin: 0 auto;
	}
	.input-group.seachbox input.form-control {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background: #fff;
	}
	.input-group-append {
		margin-left: -1px;
		display: flex;
	}
	.input-group-append button.btn.btn-primary {
		    background: #00a859;
		background: linear-gradient(#059443, #007740);
		/* background-color: #007740; */
		border-radius: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border: none;
		padding: 6px 15px;
	}
	.row_advertise img.ad_img {
		width: 100%;
		border: solid 1px #dedede;
	}

	/*Document content home*/
	
	div#document-file {
	    border: solid 1px #ccc;
	    padding: 5px;
	    border-radius: 3px;
	    background: #fff;
    padding-bottom: 0;
    margin-bottom: 5px;
	}
	.document-file-contant {
	    position: relative;
	}
	.document-file-contant .head-title small {
	    font-size: 14px;
	    color: #565151;
	}
	div#document-file .blog-showall {
	    bottom: 0;
	    top: initial;
	}
	div#document-file .blog-showall a.showall {
	    font-size: 14px;
	}
	div#document-file .blog-file-slide .single-blog .title_date {
	    color: #545454;
	}
	div#document-file .owl-nav .owl-prev, div#document-file .owl-nav .owl-next {
	    position: absolute;
	    top: 0;
	    top: 50%;
	    opacity: 0;
	}
	div#document-file .blog-file-slide:hover .owl-nav .owl-prev, div#document-file .blog-file-slide:hover .owl-nav .owl-next {
	    opacity: 1;
	}
	div#document-file .owl-nav i {
	    font-size: 35px;
	    color: #000;
	}
	div#document-file .owl-nav .owl-prev {
	    left: 0;
	}
	div#document-file .owl-nav .owl-next {
	    right: 0;
	}
	/*================================================
		Start blog partner Home
	========================================*/
	.partner{
	    border-top: solid 1px #cccccc;
	    background: #fff;
	}
	.partner-file-contant .head-title h4 {
	    color: #00a859;
	    font-weight: 600;
	}
	ul.partner_list li.partnerlist{
	    display: inline-block;
	    margin: 0;
	    padding: 0;
	    border: solid 1px #eee;
	}
	ul.partner_list li img {
	   width: 100%;
	   margin: 1%;
	   /* border: solid 1px #eee; */
	   height: 110px;
	}
	
	
	/*==============================
	Profile Detail
	====================*/
	.president-curriculum.profile-detail {
	    min-height: 650px;
	}
	.president-curriculum.profile-detail .curriculum-contant {
	    padding-top: 45px;
	}
	.president-curriculum.profile-detail .descript-detail {
	    color: #4e4c4c;
	}
	.president-curriculum.profile-detail .descript-detail h4 {
	    font-weight: 600;
	}
	
	/*==============================
	Article Detail
	====================*/
	div#article-detail {
	    border: solid 1px #ccc;
	    border-radius: 3px;
	    background: #fff;
	    min-height: 800px;
            margin-top: 0px;
	}
	div#article-detail .article-detail {
	    color: #2f2d2d;
	    text-align: justify;
	}
	.article-detail-contant .head-title {
	    border-bottom: solid 1px #eee;
	}
	.article-detail-contant .head-title h4 {
	    color: #041e65;
	    font-size: 16px;
	    line-height: 24px;
	}
	div#article-detail .article-detail img {
	    padding: 1px;
	    border: solid 1px #eee;
	    margin: 0 6px;
	}
	.share-blog {
	    border-top: solid 1px #eee;
	    border-bottom: solid 1px #eee;
	}
	.share-blog .social-icons a {
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	}
	.share-blog .social-icons a.label_title {
	    white-space: normal;
	    width: initial;
	    color: #2f2d2d;
	}
	.share-blog .social-icons a.label_title:hover {
	    background: none;
	}
	
	
	/*==============================
	Document List
	====================*/
	div#document-list {
	    border: solid 1px #ccc;
	    /* padding: 5px; */
	    border-radius: 3px;
	    background: #fff;
	    min-height: 795px;
margin-top:0;
	}
	.document-contant .head-title {
	    border-bottom: solid 1px #eee;
	}
	.document-contant .head-title h4 {
	    color: #00a859;
	}
	.document-contant .document-list {
	    border-bottom: solid 1px #eee;
	}
	.document-list .blog-document-list .document-list .blog-post-text h4 {
	    font-size: 15px;
	    font-weight: 500;
	    line-height: 1.5em;
	    height: 3em;
	    overflow: hidden;
	    display: block;
	}
	.document-list .blog-document-list .document-list .blog-post-text .readmore a {
	    color: #00a859;
	}
	.document-list .blog-document-list .document-list .blog-post-text .readmore a:hover {
	    text-decoration: underline;
	}
	
	div#blog-department {
	    border: solid 1px #ccc;
	    padding: 20px;
	    border-radius: 3px;
	    background: #fff;
	}
	ul.department li {
	    padding: 5px;
	    padding-left: 15px;
	}
	ul.department li.activemenu {
	    border-left: 2px solid #09b865 !important;
	}
	
	/*==============================
	News List
	====================*/
	div#news-events-list {
	    border: solid 1px #ccc;
	    padding: 5px;
	    border-radius: 3px;
	    background: #fff;
		    min-height: 650px;
margin-top:0;

	}
	.news-contant .head-title {
	    border-bottom: solid 1px #eee;
	}
	.news-contant .head-title h4 {
	    color: #00a859;
	}
	
	
	
	
	/*==============================
	Department
	====================*/
	.article-detail-contant .head-title h4.department {
	    color: #00a859;
	}
	.department-news-list {
	    box-shadow: 0px 1px 3px #868585;
	}
	
	.department-news-blog-post-wrapper .single-blog-post {
	    margin-bottom: 30px;
	}
	.department-news-blog-post-wrapper .single-blog-post .blog-image {
	    margin-bottom: 10px;
		text-align: center;
	}
	.department-news-blog-post-wrapper .single-blog-post  .blog-image img {
	    max-height: 220px;
	    min-height: 220px;
	    /* width: 100%; */
	}
	.department-news-list .blog-post-text {
	    padding: 10px;
	}
	.department-news-list .blog-post-text h4 {
	    font-size: 14px;
	    font-weight: 600;
	    line-height: 1.5em;
	    height: 3em;
	    overflow: hidden;
	}
	.department-news-list .readmore a {
	    text-align: right;
	    background: #048e4d;
	    color: #00a859;
	    margin-top: 0;
	    box-shadow: 0px 0px 3px #868585;
	    background: -webkit-linear-gradient(#ffffff, #f3f2f2);
	    background: -o-linear-gradient(#ffffff, #f3f2f2);
	    background: -moz-linear-gradient(#ffffff, #f3f2f2);
	    background: linear-gradient(#ffffff, #f3f2f2);
	}
	.btn-showall a.showall-btn {
	    background: #00a859;
	    padding: 10px;
	    color: #fff;
	    display: block;
	    text-align: center;
	    border-radius: 5px;
	}
	.btn-showall a.showall-btn:hover {
	    text-decoration: underline;
	}
	.document-dep-blog-post-wrapper {
	    text-align: initial;
	}
	
	div#blog-facebook-home {
	    border: solid 1px #ccc;
	    padding: 5px 15px;
	    border-radius: 3px;
	    background: #fff;
margin-top: 0;
	}
	.blog-facebook-home-contant .head-title {
	    background: #0d83c1;
	}
	.blog-facebook-home-contant .head-title h4 {
	    color: #fff;
	}
	.blog-facebook-home-contant .head-title img {
	    width: 30px;
	    margin-right: 10px;
	}
	
	
	div#sendExpression {
	    background: #fff;
	    border: solid 1px #ccc;
	    border-radius: 3px;
	}
	div#sendExpression header.section-title {
	    border-bottom: solid 1px #eee;
	}
	div#sendExpression header.section-title h2 {
	    color: #00a859;
	    margin-bottom: 10px;
	    text-transform: initial;
	}
	div#sendExpression span#error {
	    color: #e80202;
	}
	.messagebox.close {
	    display: none;
	}
	.messagebox {
	    position: fixed;
	    background: #0000004d;
	    width: 100%;
	    height: 100%;
	    z-index: 999;
	    top: 0;
	}
	.messagebox.open {
	    display: block;
	}
	.messagebox .message_content {
	    background: #fff;
	    position: absolute;
	    top: 15%;
	    left: 20%;
	    width: 60%;
	    right: 20%;
	    padding: 95px 40px;
	}
	.message_content .message_content_des {
	    color: #048e4d;
	    font-size: 18px;
	    line-height: 35px;
	    margin-bottom: 20px;
	}
	.message_content a.button.button-submit {
	    background: inherit;
	    color: #048e4d;
	    padding: 10px 15px;
	    border-radius: 5px;
	    border: solid 2px #048e4d;
	    font-weight: 500;
	}
	
	
	
	.result-blog .company-list {
	    border-bottom: solid 1px #eee;
	}
	.result-blog .company-list h4 {
	    color: #00a859;
	}
	.result-blog .company-list .blog-image img {
	    border: solid 1px #eee;
	    padding: 1px;
	    box-shadow: 1px 1px 1px #ccc;
	}
	.blog-companyinfo-text ul {
		    color: #403e3e;
	}
	.blog-companyinfo-text ul li div.list-info {
	    padding: 0;
	    vertical-align: top;
	}
	.blog-companyinfo-text ul li div.list-info.lb-title {
	    font-weight: 600;
	}
	
	/*=============================
	Company Detail
	=============================*/
	.page_title.documenttil h4 {
	    color: #00a859;
	}	
	.description-company {
	    color: #403e3e;
	}
	.description-company span {
	    font-weight: 600;
	}
	ul.document-list li {
	    display: inline-block;
	    margin: 10px 10px;
	    width: 47%;
	}
	/*---------Pop loading---------------*/
	.hover:hover{background: #eee;}
	.overlay {display: none; position: fixed;  z-index: 9998; width: 100%;height: 100%;top: 0px;left: 0px;background: #fff;z-index: 1001;opacity: .95;}
	.overlay-load {
	    margin: auto;
	    top: 0;
	    bottom: 0px;
	    position: fixed;
	    z-index: 9999;
	    left: 0px;
	    right: 0px;
	    text-align: center;
	    background: #fff url(loading.gif) 45% 48%;
	    background-repeat: no-repeat;       
	}
	.overlay-msg{margin-bottom: 10px;bottom: 0px;position: absolute;font-style: italic;color: rgb(19, 19, 19);}

	.blog-article-no-article {
		background: url(notfound.png);
		min-height: 507px;
		background-size: initial;
		background-position-x: center;
		background-repeat: no-repeat;
	}
	.blog-article-no-article h3 {
		color: #048e4d;
		position: absolute;
		top: 29%;
		width: 40%;
		left: 30%;
		text-shadow: 1px 1px 1px #c7c7c7;
		font-size: 18px;
		line-height: 25px;
	}
	.blog-article-no-article span.italic {
		font-style: italic;
		font-weight: 600;
	}

/*old
*/
.moul {
    font-family: 'Rubik', sans-serif,'Moul';
}
.blog-two-area a img {
    width: 100%;
}
ul.profile-info {
    font-size: 16px;
}
ul.profile-info span.info-label {
    min-width: 200px;
    display: inline-block;
    text-decoration: underline;
}
.profile-descript-detail {
    text-align: justify;
}
.president-curriculum.profile-detail .descript-detail .profile-descript-detail p {
    font-size: 14px;
    line-height: 26px;
}

/*================================================
	Start file show slide Home
========================================*/
.file_slide .title_date {
    color: #333;
    text-align: center;
    font-size: 16px;
}
.file_slide .blog-image a {
    box-shadow: 0px 1px 3px #868585;
}
/*================================================
	END file show slide Home
========================================*/


/*================================================
	start blog search Home
========================================*/
.form_search_home .row-form-home {
    padding: 10px 0;
}
.form_search_home .row-form-home .label_title {
    color: #333;
    font-weight: 600;
}

.form_search_home .row-form-home  input, 
.form_search_home .row-form-home  textarea {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: #90939c;
    font-size: 13px;
    height: 57px;
    padding: 0 24px;
    resize: none;
}
textarea::-webkit-input-placeholder 
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #90939c;
}
textarea::-moz-placeholder
input::-moz-placeholder { /* Firefox 19+ */
  color: #90939c;
}
textarea:-ms-input-placeholder 
input:-ms-input-placeholder { /* IE 10+ */
  color: #90939c;
}
textarea:-moz-placeholder
input:-moz-placeholder { /* Firefox 18- */
  color: #90939c;
}
.select2-container--default .select2-selection--single{
    padding:6px;
    height: 47px;

    font-size: 1.2em;  
    position: relative;
	border: 1px solid #ebebeb;
}

.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  
    color: #333;
    font-size: 1.3em;
    padding: 4px 12px;
    height: 47px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 6px 6px 0 6px;
    height: 0;
    left: 50%;
    margin-left: -23px;
    margin-top: -2px;
}
.form_search_home .row-form-home input.btu_submit {
    background: #fff;
    color: #00a859;
    border-radius: 5px;
    font-weight: 600;
    border: solid 1px #fff;
    box-shadow: 0px 1px 3px #868585;
    width: 200px;
    text-align: center;
    padding: 10px 0;
}
.form_search_home .row-form-home input.btu_submit:hover {
    color: #292929;
    background: #fdfdfd;
}
/*================================================
	END blog search Home
========================================*/


/*================================================
	END blog partner Home
========================================*/

/*================================================
	Start footer map
========================================*/
.blog-social li.social-list {
    display: inline-block;
   
}
.blog-social li.social-list:first-child {
    margin-left: 0;
}
.blog-social li.social-list {
    display: inline-block;
    margin-left: 2px;
}
.blog-social li.social-list a {
    width: 40px;
    height: 40px;
    display: block;
    padding: 11px 13px;
    color: #fff;
    border-radius: 3px;
}
.blog-social li.social-list a:hover {
    background: #000000;
}
.blog-social li.social-list a i {
    font-size: 18px;
}

.google_map_footer {
    max-height: 280px;
    max-width: 450px;
    height: 200px;
}
.google_map_footer iframe {
    /* max-height: 100%; */
    height: 100%;
    max-width: 100%;
}
.marquee-footer {
    background: #048e4d;
    border-top: 1px solid #33bd7c;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.marquee-footer a {
    color: white;
    font-size: 16px;
    line-height: 35px;
    margin-right: 50px;
}
/*================================================
	END footer map
========================================*/



.page_title {
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
}
.page_title h3 {
    padding: 10px 0;
	clear: both;
}
.clearboth{
	clear: both !important;
}
.right{
	float: right;
}
.page_title h3 a.search_again {
    
    color: #00a859;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    vertical-align: bottom;
}
.page_title h3 a.search_again:hover {
    color: #353333;
}
/*==============================
Result company search
====================*/
.result.search-home-contant form {
    border: solid 1px #017b41;
    box-shadow: 0px 0px 1px #049143;
}
ul.result-list .result_description ul li {
    display: inline-block;
    color: #333;
    padding: 10px 2px;
}
.blog-left-result img {
    width: 100%;
}
/*==============================
End Result company search
====================*/
.blog-advertise.pt-20 {
    padding-top: 10px;
}
.row_advertise.pb-20 {
    padding-bottom: 10px !important;
}
.container.container-content .col-lg-4.col-md-4.col-sm-12.col-xs-12 {
    padding: 5px;
}
.container.container-content .col-lg-8.col-md-8.col-sm-12.col-xs-12 {
    padding: 5px;
}
.flage-counvisitor a img {
    width: 100%;
    margin-top: 2px;
}

