<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('HOT_NEWS')); 
echo $this->headTitle();
$frm = $this->frm;
$countlang = count($this->lang);
$db = new About_Model_DbTable_DbHotNew();
?>
<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.FilteringSelect');
	require(["dijit/layout/TabContainer","dijit/layout/ContentPane"]);
</script>
<style>
.choose_file{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: #b1badf solid 1px;
    width: 100%;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: #edf7f8;
}
.choose_file input[type="text"]{
    -webkit-appearance:none; 
    position:absolute;cursor: pointer;
    top:0; right:0;    width: 100%;
    opacity:0; 
}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form action="" dojoType="dijit.form.Form" method="post" enctype="application/x-www-form-urlencoded">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
				loading();
				return true;
			}
			return false;
	</script>
		
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
				<td><strong><i class="fa fa-cubes" aria-hidden="true"></i><?php echo $tr->translate('HOT_NEWS')?></strong></td>
			</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td align="left" valign="top" width="70%">	
							<?php if ($countlang>1){?>
								<div id="mainTabContainer" style=" position:relative; width:800px; display:block; height: 200px;" dojoType="dijit.layout.TabContainer" region="center" >
					      	<?php }?>		
					      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);}
					     		 $data =$db->getHotnewById($this->id,$rs['id']);
					     		 $title = ($rs['title']=='English')?$data['title_en']:$data['title_kh'];
					     		 $url   = ($rs['title']=='English')?$data['url_en']:$data['url_kh'];
					      	?>
					      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
										<table cellspacing="5" width="100%">
											<tr>
												<td  class="bold" style="width:110px"><?php echo $tr->translate('DESCRIPTION_'.strtoupper($rs['title']))?>	</td>
											</tr>
											<tr>
												<td>
													<input type="text" dojoType="dijit.form.TextBox" required="required" name="title_<?php echo $rs['title'];?>"  id="title_<?php echo $rs['title'];?>" value="<?php echo $title;?>" class="fullside" />
												</td>
											</tr>
											<tr>
												<td  class="bold" style="width:110px"><?php echo $tr->translate('URL_LINK').$tr->translate(strtoupper($rs['title']));?>	</td>
											</tr>
											<tr>
												<td>
													<input type="text" dojoType="dijit.form.TextBox" required="required" name="url_<?php echo $rs['title'];?>"  id="url_<?php echo $rs['title'];?>" value="<?php echo $url;?>" class="fullside" />
												</td>
											</tr>
										</table>
									</div>
								<?php }?>
							<?php if ($countlang>1){?>
								</div>
							<?php }?>
								
							</td>
							<td width="30%" class="blog-right">
								<table cellspacing="5" width="100%">
									<tr><td  class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('status');?></td>
									</tr>
									<tr>
									</tr>
								</table>
							</td>								
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
									iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
								<input class="button_success" type="submit" value="save_new" name="save_new" label="<?php echo $tr->translate('SAVE_NEW');?>" id="save_new" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
							</td>
						</tr>
					</table>	
			</td>			
		</tr>
	</table>	
	<input type="hidden" id="agent" name="agent" value="0" />	
</form>
<script>
dojo.ready(function(){
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
	  });
	  dijit.byId("status").attr("value",'<?php echo $this->row['status'];?>');
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}
</script>
