<?php 
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$curriculum = $this->ministerCurriculum;
$images = $this->baseUrl()."/public/images/no-profile.png";
if (!empty($curriculum['image_feature'])){
	$images = $this->baseUrl()."/public/images/article/".$curriculum['image_feature'];
}
$session_lang=new Zend_Session_Namespace('lang');
$currentlang = $session_lang->lang_id;
if ($currentlang==1){
	$day = array("Mon"=>"Monday", "Tue"=>"Tuesday", "Wed"=>"Wednesday","Thu"=>"Thursday", "Fri"=>"Friday", "Sat"=>"Saturday", "Sun"=>"Sunday");
	$number = array("0","1","2","3","4","5","6","7","8","9");
	$month = array("01"=>"Jan", "02"=>"Feb", "03"=>"Mar","04"=>"Apr", "05"=>"May", "06"=>"Jun", "07"=>"Jul","08"=>"Aug", "09"=>"September", "10"=>"Oct","11"=>"Nov", "12"=>"Dec");
}else{
	$day = array("Mon"=>"ថ្ងៃច័ន្ទ", "Tue"=>"ថ្ងៃអង្គារ", "Wed"=>"ថ្ងៃពុធ","Thu"=>"ថ្ងៃព្រហស្បត្តិ៍", "Fri"=>"ថ្ងៃសុក្រ", "Sat"=>"ថ្ងៃសៅរ៍", "Sun"=>"ថ្ងៃអាទិត្យ");
	$number = array("០","១","២","៣","៤","៥","៦","៧","៨","៩");
	$month = array("01"=>"មករា", "02"=>"កុម្ភៈ", "03"=>"មិនា", "04"=>"មេសា", "05"=>"ឧសភា", "06"=>"មិថុនា", "07"=>"កក្កដា","08"=>"សីហា", "09"=>"កញ្ញា", "10"=>"តុលា","11"=>"វិច្ឆិកា", "12"=>"ធ្នូ");
}
$DOB="";
if (!empty($curriculum['dob']) AND $curriculum['dob']!="0000-00-00"){
	$date = strtotime($curriculum['dob']);
	$spp = str_split(date("d",$date));
	$num="";
	foreach ($spp as $ss){
		$num.=$number[$ss];
	}
	$year='';
	$sp_year = str_split(date("Y",$date));
	foreach ($sp_year as $y){
		$year.=$number[$y];
	}
	$DOB = $day[date("D",$date)]." ".$num.", ".$month[date("m",$date)]." ".$year;
}
?>
<title><?php echo $tr->translate("CURRICULUM VITAE");?></title>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('mobilelanguagemenu.phtml');
				?>
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $tr->translate("CURRICULUM VITAE");?></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('languagemenu.phtml');
				?>
			</div>
			<div class="clearfix"></div>
			<!-- Blog Two Area Start -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div id="president-curriculum" class="mtb-10"> 
								<div class="president-curriculum profile-detail" >
									<div class="row">
										<div class="descript-detail pr-10 pl-10">
											<div class="col-sm-10 curriculum-contant">
											   <div class="curriculum-iteam">
												   <div class="ptb-10">
													   <pre class="text-right"><?php echo $curriculum['title'];?></pre>
												   </div>
											   </div>
											</div>
											<div class="col-sm-2 pt-5">
												<div class="president-profile text-right">
													<img src="<?php echo $images;?>">
												</div>
											</div>
											 <div class="clearfix"></div>
											<div class="col-sm-12 curriculum-blog-detail mt-10 mb-50">
												<h4 class="mtb-10"><?php echo $tr->translate("Personal Infomation");?></h4>
												<ul class="profile-info mtb-30">
													<li class="ptb-20"><span class="info-label"><?php echo $tr->translate("Date of Birth");?></span> <?php echo $DOB;?></li>
													<li class="ptb-20"><span class="info-label"><?php echo $tr->translate("Place of Birth");?></span> <?php echo $curriculum['pob'];?></li>
												</ul>
												
												
												
												<div class="profile-descript-detail">
													<?php echo $curriculum['description'];?>
												</div>
											</div>
											 <div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
					</div>
					<!-- Blog Two Area End -->

			
			
		</div>
	</div>
</section>