<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('MENU_ITEMS')); 
echo $this->headTitle();
$frm = $this->frm;
$countlang = count($this->lang);
?>

<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.NumberTextBox');
	
	dojo.require('dijit.form.FilteringSelect');
	dojo.require("dijit.Dialog");
	dojo.require("dijit.form.Textarea");
	dojo.require("dojo.data.ItemFileWriteStore");  
	require(["dijit/form/CheckBox","dijit/Dialog","dijit/layout/TabContainer"]);
</script><script src="<?php echo $this->baseUrl();?>/public/js/help.js"  type="text/javascript"></script>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form action="<?php echo $this->url(array('module'=>'menu-manager','controller'=>'menu-items','action'=>'add')); ?>" dojoType="dijit.form.Form" method="post" enctype="application/x-www-form-urlencoded">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
				if(alias_require==0){ alert("Please check your title alias again.");return false;}
				loading();
				return true;
			}

			return false;
	</script>
	<table style="margin: 0 auto; width: 100%">
		<tr class="header">
			<td><strong><i class="fa fa-list" aria-hidden="true"></i><?php echo $tr->translate('ADD_MENU_ITEMS')?></strong></td>
		</tr>
		<tr>
			<td>
					<table  width="100%">
						<tr>
							<td align="center" valign="top" width="70%">
							<fieldset>
									<table cellspacing="5" width="100%">
										<tr>
											<td >
											<?php if ($countlang>1){?>
												<div id="mainTabContainer" style=" position:relative; width:750px; display:block; height: 150px;" dojoType="dijit.layout.TabContainer" region="center" >
									      	<?php }?>		
									      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);}?>
									      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
														<table cellspacing="5" width="100%">
															<tr>
																<td class="bold"><?php echo $tr->translate('TITLE')?></td>
																<td>
																	<input type="text" onChange="generateAlias('<?php echo $alias;?>');" dojoType="dijit.form.TextBox" required="required" name="title<?php echo str_replace(' ','',$rs['title']);?>"  id="title<?php echo str_replace(' ','',$rs['title']);?>" value="" class="fullside" placeholder="<?php echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
																	<input type="hidden" dojoType="dijit.form.TextBox" name="iddetail<?php echo str_replace(' ','',$rs['title']);?>"  id="iddetail<?php echo str_replace(' ','',$rs['title']);?>" value="" class="fullside" />
																</td>
															</tr>
															<tr>
																<td class="bold"><?php echo $tr->translate('URL_LINK')." ".$rs['title']?></td>
																<td>
																	<input type="text" dojoType="dijit.form.TextBox" name="url_<?php echo str_replace(' ','',$rs['title']);?>"  id="url_<?php echo str_replace(' ','',$rs['title']);?>" class="fullside"  />
																</td>
															</tr>
														</table>
													</div>
												<?php }?>
											<?php if ($countlang>1){?>
												</div>
											<?php }?>
											</td>
										</tr>
									</table>
									<table cellspacing="5" width="100%" >
										<tr>
											<td align="left" class="bold"><?php echo $tr->translate('MENU_ITEMS_TYPE')?></td>
											<td>
												<?php echo $frm->getElement('menu_type');?>
											</td>
										</tr>
										<tr>
											<td align="left" class="bold"><?php echo $tr->translate('TARGET_WINDOW')?></td>
											<td >
												<?php echo $frm->getElement('target_type');?>
											</td>
										</tr>
										<tr id="singleArticle" style="display:none;">
											<td align="left" class="bold"><?php echo $tr->translate('CHOOSE_ARTICLE')?></td>
											<td >
												<?php echo $frm->getElement('article');?>
											</td>
										</tr>
										<tr id="categoryList" style="display:none;">
											<td align="left" class="bold"><?php echo $tr->translate('CHOOSE_CATEGORY')?></td>
											<td >
												<?php echo $frm->getElement('category');?>
											</td>
										</tr>
									</table>
									<table cellspacing="5" width="100%" id="controlbytype" style="display:none;">
										<tr>
											<td align="left" class="bold"><?php echo $tr->translate('ADDRESS')?></td>
											<td >
												<?php echo $frm->getElement('address');?>
											</td>
											<td align="left" class="bold"><?php echo $tr->translate('PHONE')?></td>
											<td >
												<?php echo $frm->getElement('phone');?>
											</td>
										</tr>
										<tr>
											<td align="left" class="bold"><?php echo $tr->translate('EMAIL')?></td>
											<td >
												<?php echo $frm->getElement('email');?>
											</td>
											<td align="left" class="bold"><?php echo $tr->translate('FAX')?></td>
											<td >
												<?php echo $frm->getElement('fax');?>
											</td>
										</tr>
										<tr>
											<td align="left" class="bold"><?php echo $tr->translate('LOCATION_MAP')?></td>
											<td colspan="3"><?php echo $frm->getElement('map');?></td>
										</tr>
										<tr>
											<td align="left" colspan="2" class="bold"><?php echo $tr->translate('DESCRIPTION')?></td>
										</tr>
										<tr>
											<td colspan="4"><textarea class="ckeditor"   height="400px" style="min-height:60px;" id="description" name="description"></textarea></td>
										</tr>
									</table>
								</fieldset>
							</td>
							<td width="30%" class="blog-right">
								<table cellspacing="5" width="100%">
									<tr>
										<td>
										<label id="message" style="color: red;"></label>
										<?php echo $frm->getElement('title_alias');?></td>
									</tr>
									<tr>
										<td class="bold"><?php echo $tr->translate('ORDERING')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('ordering');?></td>
									</tr>
									<!-- <tr>
										<td class="bold"><?php //echo $tr->translate('MENU')?></td>
									</tr>
									<tr>
										<td><?php //echo $frm->getElement('menu_manager');?></td>
									</tr> -->
									<tr>
										<td class="bold"><?php echo $tr->translate('CHOOSE_PARENT')?>
										<input type="hidden" id="menu_manager" name="menu_manager"  value="1" dojoType="dijit.form.TextBox" />
										</td>
									</tr>
									<tr>
										<td><?php echo $frm->getElement('parent');?></td>
									</tr>
									<tr><td class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('status');?></td>
									</tr>
								</table>
							</td>							
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
								iconClass="dijitIconUndo" onclick="window.history.back();" />
								<input class="button_success" type="submit" value="save_close" name="save_close" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_close" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 	
								<input class="button_success" type="submit" value="save_new" name="save_new" label="<?php echo $tr->translate('SAVE_NEW');?>" id="save_new" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
							</td>
						</tr>
				</table>	
				</fieldset>
			</td>			
		</tr>
		
	</table>	
	<input type="hidden" id="agent" name="agent" value="0" />	
</form>
<script>
dojo.ready(function(){
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
	  });
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}
var alias_require=0;
	function getControllByMenuType(){
		 menutype =	dijit.byId("menu_type").get("value");
		 if(menutype==4){
			 $("#controlbytype").css("display", "table");
			 $("#singleArticle").css("display", "none");
			 $("#categoryList").css("display", "none");
			 dijit.byId('address').set('required',true);
			 dijit.byId('phone').set('required',true); 
			 dijit.byId('email').set('required',true); 
		 }else if(menutype==3){
			 $("#singleArticle").css("display", "table-row");
			 $("#controlbytype").css("display", "none");
			 $("#categoryList").css("display", "none");
			 dijit.byId('address').set('required',false);
			 dijit.byId('phone').set('required',false); 
			 dijit.byId('email').set('required',false);
		 }else if(menutype==2 || menutype==1 ){
			 $("#categoryList").css("display", "table-row");
			 $("#singleArticle").css("display", "none");
			 $("#controlbytype").css("display", "none");
			 dijit.byId('address').set('required',false);
			 dijit.byId('phone').set('required',false); 
			 dijit.byId('email').set('required',false);
		 }else{
			 $("#singleArticle").css("display", "none");
			 $("#controlbytype").css("display", "none");
			 $("#categoryList").css("display", "none");
			 dijit.byId('address').set('required',false);
			 dijit.byId('phone').set('required',false); 
			 dijit.byId('email').set('required',false);
		 }
	}

	var old_alias="";
	var specialcharalias = [" ",",",".","?",";","/","{","}","|","[","]","~","!","@","#","$","%","^","&","*","(",")","+","=","`","<",">"];
	function generateAlias(alias){
		if(menutype==6){
			 return false;
		 }
		title = dijit.byId('title'+alias).get('value');
		var title_alias = title.split(' ').join('-');
		//title_alias = (title_alias.split('?').join('-')).split('"').join('-');
		for(var i=0; i<specialcharalias.length;i++){
			title_alias = title_alias.split(specialcharalias[i]).join('');
		}
		dijit.byId("title_alias").attr('value',title_alias.toLowerCase());
		//if(old_alias!=""){
			//dijit.byId('title_alias').set('value',old_alias);
		//}
		checkTitle();
	}
	url_CheckTitle = '<?php echo $this->url(array('module'=>'menu-manager','controller'=>'menu-items','action'=>'check-title-alias'));?>';
	function checkTitle(){
		title_alias = dijit.byId('title_alias').get('value');
		dojo.xhrPost({
			url:url_CheckTitle,	
			content:{ 
				'title_alias': title_alias
			},
			handleAs:"json",
			load: function(data) {	
				if(data !== false ){
			   		document.getElementById('message').innerHTML ='Alias is duplicated you can set new alias or clear alias will auto generate.';
			   		dijit.byId('title_alias').focus();
			   		alias_require=0;
				}else{
					document.getElementById('message').innerHTML ='';
					alias_require=1;
				}
				old_alias =dijit.byId('title_alias').get('value');
			},
			error: function(err) {
				alert(err);
			}
		});
	}
	 function checkSpcialChar(event){
         if(((event.keyCode > 64 && event.keyCode < 91) || event.keyCode == 45 || (event.keyCode > 96 && event.keyCode < 123) || event.keyCode == 8 || (event.keyCode >= 48 && event.keyCode <= 57))){
             event.returnValue = true;
             return;
          }
          event.returnValue = false;
       } 
	 require(["dojo/ready"], function(ready){
			ready(function(){
				getMenuItemsByMenumanager();
			});
		});
	   var menuitems_store  = getDataStorefromJSON('id','name',<?php print_r(Zend_Json::encode(array()));?>);
	   function getMenuItemsByMenumanager(){
		   menu_manager = dijit.byId('menu_manager').get('value');
			dojo.xhrPost({
			url: '<?php echo $this->baseUrl()."/menu-manager/menu-items/getmenuitemsajax";?>',	
			content:{ 
				'menu_manager': menu_manager
			},
			handleAs:"json",
			load: function(data) {
				menuitems_store  = getDataStorefromJSON('id','name', data);	
				dijit.byId('parent').reset();				
				dijit.byId('parent').set('store', menuitems_store);
				
			},
			error: function(err) {
				alert(err);
			}
		});
	   }
</script>