/* -----------------------------------
    Template Name: Dazimaxx Premium Multipurpose HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
*/
/*================================================
[  Table of contents  ]
================================================
01. General
02. Text color
03. Input
04. Scrollup
05. Basic margin padding
06. Page section padding 
07. Page section margin 
08. Custom cloumn
09. Background variation set 
10. Section Title
11. Pagination
12. Breadcrumb
 
======================================
[ End table content ]
======================================*/

/*************************
    01. General
*************************/
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Regular'), local('DroidSans-Regular'), url(font/DroidSans-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* khmer */
@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  src: local('Moul'), url(font/Moul.woff2) format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */
@font-face {
  font-family: 'Khmer OS Battambang';
  font-style: normal;
  font-weight: 400;
  src: local('Battambang Regular'), local('Battambang-Regular'), url(font/KhmerOSBattambang-Regular.ttf) format('ttf');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */
@font-face {
  font-family: 'Khmer OS muol';
  font-style: normal;
  font-weight: 400;
  src: local('Khmer Os Muol Regular'), local('Khmer-Os-Muol-Regular'), url(font/KhmerOS_muol.ttf) format('ttf');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(font/Roboto-Regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(font/Roboto-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7DRs5.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(font/RobotoCondensed-Regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(font/RobotoCondensed-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body {height: 100%;}
body {
	background: #f2f2f2;
	color: #90939c;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-family: 'Droid Sans',sans-serif,'Battambang';
}
.clear{clear:both}
.fix {overflow: hidden}
.block {display: block}
.img{
    max-width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
	height:auto
}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;color: #2f2d2d;}
a{
    /* -webkit-transition: all 0.3s ease-out 0s; */
    /* transition: all 0.3s ease-out 0s; */
}
a:focus{
    text-decoration: none;
    outline: none;
    outline-offset: unset;
}
a:focus,
a:hover {
    color: #303030;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}
a,
button,
input {
    outline: medium none;
    color: #383838;
    /* -webkit-transition: all 0.3s ease 0s; */
    /* transition: all 0.3s ease 0s */
}
button{border: 0}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color: inherit}
label {
    font-size: 15px;
    font-weight: 400;
    color: #606060;
}
*::-moz-selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    color: #fff;
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #fff;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.mark, mark {
    background: #4fc1f0 none repeat scroll 0 0;
    color: #ffffff;
}	font-weight: 600;
}
.f-left {float: left}
.f-right {float: right}
p{
	line-height: 24px;
	font-size: 13px;
}
ul{
	list-style: outside none none;
	margin: 0;
	padding: 0
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #969696;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #969696;
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
:-ms-input-placeholder { /* IE 10+ */
    color: #969696;
}
:-moz-placeholder { /* Firefox 18- */
    color: #969696;
}
.default-btn {
    background: #181b24 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    padding: 10px 40px 10px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.default-btn::after {
    /* background: #e54f15 none repeat scroll 0 0; */
    /* border-radius: 0 0 3px 3px; */
    /* bottom: 0; */
    /* content: ""; */
    /* height: 2px; */
    /* left: 0; */
    /* position: absolute; */
    /* width: 100%; */
    /* transition: all 0.5s ease 0s; */
}
.default-btn:hover, .default-btn:focus, .default-btn:active {background: #e54f15;}
.default-btn:hover span, .default-btn:focus span, .default-btn:active span {color: #048e4d;}
.default-btn:hover:after {
    height: 100%;
    border-radius: 2px
}
.default-btn span {z-index: 2; position: relative}
input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
img {max-width: 100%}
/*************************
    02. Text color
*************************/
.text-white { color: #fff ;}
/*************************
    03. Input
*************************/
input, textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    box-shadow: none;
    color: #666666;
    font-size: 12px;
    height: 35px;
    padding-left: 10px;
    width: 100%;
}
input::-moz-placeholder, textarea::-moz-placeholder {color: #666666;} 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #666666;}
select {
    width: 100%;
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #626262;
}
option {
    background: #fff;
    border: 0px solid #626262;
    padding-left: 10px;
    font-size: 14px;
}
input:focus, textarea:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #c1c1c1;
}
textarea {
    height: 100px;
    padding: 12px 17px;
    resize: vertical;
    width: 100%;
}
textarea:focus {box-shadow: none; outline: 0}
/*************************
    04. Scrollup
*************************/
#scrollUp {
    background: #00a859 none repeat scroll 0 0;
    border: 4px solid #097944;
    bottom: 60px;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    position: fixed;
    right: 15px;
    text-align: center;
    /* transform: rotate(45deg); */
    transition: all 0.5s ease-in-out 0s;
    width: 40px;
    z-index: 999;
    border-radius: 50%;
}
#scrollUp i {
    bottom: 0;
    display: block;
    font-size: 12px;
    height: 100%;
    left: 0;
    line-height: 30px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    /* transform: rotate(-45deg); */
    width: 100%;
}
#scrollUp:hover {background: #17824f;}
/*************************
    05. Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
    Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-25 { margin-top: 25px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-40 { margin-top: 40px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.mt-55 { margin-top: 55px }
.mt-60 { margin-top: 60px }
.mt-65 { margin-top: 65px }
.mt-70 { margin-top: 70px }
.mt-75 { margin-top: 75px }
.mt-80 { margin-top: 80px }
.mt-85 { margin-top: 85px }
.mt-90 { margin-top: 90px }
.mt-95 { margin-top: 95px }
.mt-100 { margin-top: 100px }
.mt-105 { margin-top: 105px }
.mt-110 { margin-top: 110px }
.mt-115 { margin-top: 115px }
.mt-120 { margin-top: 120px }
.mt-125 { margin-top: 125px }
.mt-130 { margin-top: 130px }
.mt-135 { margin-top: 135px }
.mt-140 { margin-top: 140px }
.mt-145 { margin-top: 145px }
.mt-150 { margin-top: 150px }
/*************************
    Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
    Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-25 { margin-bottom: 25px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-45 { margin-bottom: 45px }
.mb-50 { margin-bottom: 50px }
.mb-55 { margin-bottom: 55px }
.mb-60 { margin-bottom: 60px }
.mb-65 { margin-bottom: 65px }
.mb-70 { margin-bottom: 70px }
.mb-75 { margin-bottom: 75px }
.mb-80 { margin-bottom: 80px }
.mb-85 { margin-bottom: 85px }
.mb-90 { margin-bottom: 90px }
.mb-95 { margin-bottom: 95px }
.mb-100 { margin-bottom: 100px }
.mb-105 { margin-bottom: 105px }
.mb-110 { margin-bottom: 110px }
.mb-115 { margin-bottom: 115px }
.mb-120 { margin-bottom: 120px }
.mb-125 { margin-bottom: 125px }
.mb-130 { margin-bottom: 130px }
.mb-135 { margin-bottom: 135px }
.mb-140 { margin-bottom: 140px }
.mb-145 { margin-bottom: 145px }
.mb-150 { margin-bottom: 150px }
/*************************
    Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
    Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-25 { padding-top: 25px }
.pt-30 { padding-top: 30px }
.pt-35 { padding-top: 35px }
.pt-40 { padding-top: 40px }
.pt-45 { padding-top: 45px }
.pt-50 { padding-top: 50px }
.pt-55 { padding-top: 55px }
.pt-60 { padding-top: 60px }
.pt-65 { padding-top: 65px }
.pt-70 { padding-top: 70px }
.pt-75 { padding-top: 75px }
.pt-80 { padding-top: 80px }
.pt-85 { padding-top: 85px }
.pt-90 { padding-top: 90px }
.pt-95 { padding-top: 95px }
.pt-100 { padding-top: 100px }
.pt-105 { padding-top: 105px }
.pt-110 { padding-top: 110px }
.pt-115 { padding-top: 115px }
.pt-120 { padding-top: 120px }
.pt-125 { padding-top: 125px }
.pt-130 { padding-top: 130px }
.pt-135 { padding-top: 135px }
.pt-140 { padding-top: 140px }
.pt-145 { padding-top: 145px }
.pt-150 { padding-top: 150px }
.pt-160 { padding-top: 160px }
.pt-165 { padding-top: 165px }
.pt-170 { padding-top: 170px }
.pt-175 { padding-top: 175px }
.pt-180 { padding-top: 180px }
.pt-185 { padding-top: 185px }
.pt-190 { padding-top: 190px }
/*************************
    Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
    Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-25 { padding-bottom: 25px }
.pb-30 { padding-bottom: 30px }
.pb-35 { padding-bottom: 35px }
.pb-40 { padding-bottom: 40px }
.pb-45 { padding-bottom: 45px }
.pb-50 { padding-bottom: 50px }
.pb-55 { padding-bottom: 55px }
.pb-60 { padding-bottom: 60px }
.pb-65 { padding-bottom: 65px }
.pb-70 { padding-bottom: 70px }
.pb-75 { padding-bottom: 75px }
.pb-80 { padding-bottom: 80px }
.pb-85 { padding-bottom: 85px }
.pb-90 { padding-bottom: 90px }
.pb-95 { padding-bottom: 95px }
.pb-100 { padding-bottom: 100px }
.pb-105 { padding-bottom: 105px }
.pb-110 { padding-bottom: 110px }
.pb-115 { padding-bottom: 115px }
.pb-120 { padding-bottom: 120px }
.pb-125 { padding-bottom: 125px }
.pb-130 { padding-bottom: 130px }
.pb-135 { padding-bottom: 135px }
.pb-140 { padding-bottom: 140px }
.pb-145 { padding-bottom: 145px }
.pb-150 { padding-bottom: 150px }
.pb-155 { padding-bottom: 155px }
.pb-160 { padding-bottom: 160px }
.pb-165 { padding-bottom: 165px }
.pb-170 { padding-bottom: 170px }
.pb-175 { padding-bottom: 175px }
.pb-180 { padding-bottom: 180px }
.pb-185 { padding-bottom: 185px }
.pb-190 { padding-bottom: 190px }
/*************************
    Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }
/***************************
    06. Page section padding 
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }
.ptb-160 { padding: 160px 0 }
.ptb-170 { padding: 170px 0 }
.ptb-180 { padding: 180px 0 }
.ptb-190 { padding: 190px 0 }
/***************************
    07. Page section margin 
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }
/***************************
    08. Custom cloumn
****************************/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {float: left;}
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}
/*************************************
    09. Background variation set 
**************************************/
.bg-white { background: #fff }
.bg-light-1 { background: #F1F2F4 }
.bg-light-2 { }
.bg-dark {background: #181b24 none repeat scroll 0 0;}
.bg-dark-2 {background: #14151B none repeat scroll 0 0;}
.transparent-bg { background: transparent }
.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9, .bg-10, .bg-11, .bg-12, .image-1, .image-2, .image-3 {
    background-attachment: scroll; 
	background-clip: initial; 
	background-color: rgba(0, 0, 0, 0); 
	background-origin: initial; 
	background-position: center center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	position: relative; 
}
.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7,
.bg-8,
.bg-9,
.bg-10,
.bg-11,
.bg-12 { 
	background: #078a4b;
    background: -webkit-linear-gradient(#078a4b, #0ad073);
    background: -o-linear-gradient(#078a4b, #0ad073);
    background: -moz-linear-gradient(#078a4b, #0ad073);
    background: linear-gradient(#078a4b, #0ad073);
	
}
.image-1 { background-image: url("../../img/slider/1.jpg");}
.image-2 { background-image: url("../../img/slider/2.jpg");}
.image-3 { 
    background-image: url("../../img/slider/3.jpg");
    background-position: center top
}
.overlay-dark:before, .overlay-dark-2:before, .overlay-dark-3:before{
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.overlay-dark:before{background: rgba(21, 23, 29, 0.95) none repeat scroll 0 0;}
.overlay-dark-2:before{background: rgba(24, 27, 36, 0.9) none repeat scroll 0 0;}
.overlay-dark-3:before{background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;}
.gradient-overlay, .gradient-overlay-2, .gradient-overlay-3 {position: relative}
.gradient-overlay:after, .gradient-overlay-2:after, .gradient-overlay-3:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
    background: url("../../img/slider/overlay.png");
    opacity: .3
/*    background: rgba(0, 0, 0, 0) linear-gradient(to left top, #01193F, red, green, #4A0101) repeat scroll 0 0*/
}
.gradient-overlay-2:after {
    background: url("../../img/bg/bg-overlay.png");
    opacity: .4;
    background-size: cover
}
.gradient-overlay-3:after {
    background: url("../../img/bg/bg-overlay.png");
    opacity: .3;
}
.bg {
    height: 100%;
    left: 60px;
    position: absolute;
    right: 60px;
    top: 0;
}
/*************************************
    10. Section Title
**************************************/
.section-title, .section-title-light {position: relative; z-index: 3;}
.section-title > h5, .section-title-light > h5 {color: #e51515; font-size: 14px; margin-bottom: 22px;}
.section-title > h2, .section-title-light > h2 {
    color: #ffffff;
    margin-bottom: 29px;
    text-transform: uppercase
}
.section-title > p, .section-title-light > p {line-height: 13px; margin: 0;}
.section-title-light > h2 {color: #181b24;padding: 10px 0;}
.section-title .text-white, .section-title-light .text-white {color: #fff}
.section-title-two h3 {
    color: #181c27;
    line-height: 24px;
    margin-bottom: 28px;
    text-transform: uppercase;
}
.section-title-two > p {color: #91939f; margin: 0;}
/*************************************
    11. Pagination
**************************************/
.pagination-content .pagination li a {
    background: none;
    border: none;
    border-radius: 0;
    color: #292929;
    display: inline-block;
    font-size: 13px;
    /* height: 28px; */
    line-height: 28px;
    margin: 0 9px 0 0;
    padding: 0 2px;
    text-align: center;
    /* width: 28px; */
    float: none;
}
.pagination-content .pagination li a i {font-size: 17px;}
.pagination-content .pagination li a:hover, .pagination-content .pagination li.active a {
    background: none;
    color: #00a859;
    font-weight: 600;
}
.pagination {
    border-radius: 0;
    display: inline-block;
    /* float: left; */
    margin: 3px 20px 3px 30px;
}
.pagination-content {display: block;/* float: right; */}
.pagination-wrapper {/* border: 2px solid #e9e9e9; */border-radius: 2px;padding: 12px 16px;}
.pagination-wrapper > span {color: #8d8c8c; display: block; float: left; line-height: 33px;}
.ht-page {
    /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0; */
    /* border: 1px solid #e8e8e8; */
    /* border-radius: 30px; */
    color: #292929;
    display: block;
    /* float: left; */
    /* height: 35px; */
    line-height: 34px;
    text-align: center;
    /* width: 96px; */
    display: inline-block;
}
.ht-page:first-of-type i {margin-right: 16px;}
.ht-page:last-of-type i {margin-left: 16px;}
.ht-page:hover, .ht-page.active {
    /* background: #e51515 none repeat scroll 0 0; */
    /* border-color: #e51515; */
    color: #00a859;
}
/*************************************
    12. Breadcrumb
**************************************/
.breadcrumb-area {padding: 40px 0;}
.breadcrumb-text {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: relative;
    z-index: 1;
}
.breadcrumb-bar .breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}
.breadcrumb-text h2 {
    color: #ffffff;
    line-height: 32px;
    margin-bottom: 33px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.breadcrumb-bar li {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin: 0 18px 0 0;
    position: relative;
}
.breadcrumb-bar .breadcrumb > li:first-child::before {
    color: #ffffff;
    content: "/";
    display: inline-block;
    font-size: 13px;
    position: absolute;
    right: -13px;
    top: 0;
}
.breadcrumb-bar .breadcrumb > li + li::before {display: none;}
.breadcrumb-bar a {color: #ffffff; display: inline-block;}
.breadcrumb-bar a:hover {color: #e51515;}
.breadcrumb-bar a:focus {border-color: transparent}