/* -----------------------------------
Template Name: Dazimaxx Premium Multipurpose HTML Template
Description: This is html5 template
Author: HasTech
Version: 1.0
NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
footer.footer-area {
    background: #00a859;
}
h2.footertitle {
    color: #fff;
    line-height: 50px;
}
.single-footer-widget > h5 {
    color: #ffffff;
    font-weight: 400;
    padding-top: 5px;
    text-transform: uppercase;
}
.footer-logo {margin-bottom: 10px;}
.f-info {
    color: #ffffff;
    display: block;
    font-size: 16px;
    margin-bottom: 22px;
}
.f-info .icon {
    color: #e54f15;
   display: inline-block;
    font-size: 16px;
    position: relative;
    width: 25px;
}
.single-footer-widget.blogfooter {
    text-align: left;
}
.f-info-text {display: inline; overflow: hidden;}
.footer-info-wrapper {/*padding-top: 32px;*/}
.footer-list li {float: left; width: 50%;}
.footer-list li a {color: #90939c; font-size: 13px;}
.footer-list li a:hover{color: #e51515;}
.footer-list > li {line-height: 11px; margin-bottom: 25px;}
.twt-text p a {color: #e51515;}
.twt-text p a:hover {color: #fff;}
.twt-text > span {float: left; line-height: 30px; width: 32px;}
.twt-text > span i {color: #8b8d96; font-size: 18px;}
.twt-text > p {margin-bottom: 5px; overflow: hidden; padding-right: 15px;}
.twt-info {
    color: #61626b;
    display: block;
    font-size: 13px;
    padding-right: 13px;
    text-align: right;
}
.single-tweet-text {margin-bottom: 27px;}
.footer-top {
    padding-top: 20px;
	background: #00a859;
    background-position: bottom;
    background-size: 100%;
}
.footer-bottom {/* padding-top: 31px; *//* position: relative; */background: #00a859;/* padding: 10px 0; */}
.footer-border {
    /* background: rgba(255, 255, 255, 0.05) none repeat scroll 1px center; */
    /* height: 1px; */
    /* left: 60px; */
    /* position: absolute; */
    /* right: 60px; */
}
.payment-img {padding: 18px 0;text-align: right;}
.footer-bottom span {color: #ffffff;display: inline-block;font-size: 14px;}
.footer-links-copyright {padding: 18px 0;}
.footer-bottom span a {    color: #ffffff;   font-weight: 600;}
.footer-bottom span a:hover {    color: #ccc;}
.footer-bottom .social-links {display: inline-block; margin-left: 54px; padding: 0;}
.footer-bottom .social-links a {color: #838896; font-size: 16px; margin: 0 8px;}
.footer-bottom .social-links a:hover {color: #e51515;}