<?php 
	$product = $this->product;
	$request=Zend_Controller_Front::getInstance()->getRequest();
	$session_lang=new Zend_Session_Namespace('lang');
	$currentlang = $session_lang->lang_id;
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	//$base_url = Application_Form_FrmMessage::getUrl("/");
	$menu_info = $this->menu_info; 
	$db = new Application_Model_DbTable_DbGlobalSelect();
	$articleperpage = $db->getWebsiteSetting("items_per_page");	

	$loadmordata= $articleperpage['value'];
	
	$url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
if(!empty($this->param['param'])){
?>
<title><?php echo $menu_info['title_menu'];?></title>
	 
				<?php if ($menu_info['menu_type_id']==1){ //category blog
					if(!empty($menu_info['category_id'])){
						$aticle = $db->getArcticleByCate($menu_info['category_id']);?>
								
					<?php }?>
				<?php }else if ($menu_info['menu_type_id']==2){//category list
									$article = $db->getArcticleByCateForlistAll($menu_info['category_id']);
									$countarticle = $db->countarticle($menu_info['category_id']);
									$cateinfo = $db->getCategoryByID($menu_info['category_id']);
									
									$limits = $db->getWebsiteSetting("items_per_page");
									$paginator = Zend_Paginator::factory($article);
									$paginator->setDefaultItemCountPerPage($limits['value']);
									$allItems = $paginator->getTotalItemCount();
									$countPages= $paginator->count();
									$p = Zend_Controller_Front::getInstance()->getRequest()->getParam('pages');
										
									if(isset($p))
									{
										$paginator->setCurrentPageNumber($p);
									} else $paginator->setCurrentPageNumber(1);
									
									$currentPage = $paginator->getCurrentPageNumber();
										
									$articless  = $paginator;
// 									$this->view->countItems = $allItems;
// 									$this->view->countPages = $countPages;
// 									$this->view->currentPage = $currentPage;
									
									if($currentPage == $countPages)
									{
										$nextPage = $countPages;
										$previousPage = $currentPage-1;
									}
									else if($currentPage == 1)
									{
										$nextPage = $currentPage+1;
										$previousPage = 1;
									}
									else {
										$nextPage = $currentPage+1;
										$previousPage = $currentPage-1;
									}
								?>
								<section class="content">
									<div class="container container-content">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
												<?php 
														echo $this->render('mobilelanguagemenu.phtml');
													?>
												<div class="home-breadcrum">
													<ul class="breadcrum-list">
														<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
														<li><?php echo $menu_info['title_menu'];?></li>
													</ul>
												</div>
												
												
												<div id="news-events-list" class="mtb-10 pr-20 pl-20"> 
													<div class="news-events-list" >
														<div class="row">
															
															<div class="col-sm-12 news-contant">
																<div class="head-title pr-10 pt-10  pl-10 mb-10">
																	<h4 class="ptb-10"><?php echo $menu_info['title_menu'];?></h4>
																</div>
																<div class="blog-article-list">
																 <?php if(!empty($articless)) foreach($articless as $article){ ?>
																	<div class="list">
																		<div class="col-sm-4 blog-image">
																			<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>">
																				<?php 
																				$images = $this->baseUrl()."/public/images/noimage.jpg";
																				if(!empty($article['image_feature'])){
																				$images= $this->baseUrl()."/public/images/article/".$article['image_feature'];
																				}?>
																				<img src="<?php echo $images;?>"/>
																			</a>
																		</div>
																		<div class="col-sm-8 blog-post-text">
																			<h4><a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>"><?php echo $article['title'];?></a></h4>
																			<p>
																			<?php
																				echo mb_substr(strip_tags($article['description']),0,100, "utf-8")."...";
																			?>
																			</p>
																			<div class="readmore">
																			<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>" ><span><?php echo $tr->translate("READ_MORE")?>...</span></a>
																			</div>
																		</div>
																		<div class="clearfix"></div>
																	</div>
																	<?php }?>
																</div>
																<?php 
										                        if($countPages>1){ 
																 	$statpage = $currentPage - 5;
																 	$endpage = $currentPage + 5;
																 	if ($currentPage<=5){
																 		$statpage = 1;
																 		$endpage =10;
																 	}
										                        if (!empty($countPages)){
																 ?>
																<div class="pagination-wrapper text-center fix">
																	<div class="pagination-content">
																		<a class="ht-page <?php if($currentPage==1){ echo "active";}?>" href="<?php echo $this->baseUrl()."/page/index?param=".$this->param['param']."&pages=".$previousPage;?>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
																		<ul class="pagination">
																		 <?php  $i=0; for( $i=1; $i<=$countPages; $i++){?>
									           			 					<?php if ($statpage<=$i && $endpage>=$i){?>
																			<li class="<?php if($i==$currentPage){ echo "active";}?>"><a href="<?php echo $this->baseUrl()."/page/index?param=".$this->param['param']."&pages=".$i;?>"><?php echo $i;?></a></li>
		                                                					<?php }}?>
																		</ul>
																		<a class="ht-page <?php if($countPages==$currentPage){ echo "active"; }?>" href="<?php echo $this->baseUrl()."/page/index?param=".$this->param['param']."&pages=".$nextPage;?>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
																	</div>
																</div>
																 <?php }}?>
															</div>
															<div class="clearfix"></div>
															
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<?php 
													echo $this->render('languagemenu.phtml');
												?>
												<?php echo  $this->render('banner.phtml');?>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</section>
						       
				<?php }else if ($menu_info['menu_type_id']==3){//sigle aticle
						$aticle = $db->getAticleByID($menu_info['article_id']);
						$homecategory = $db->getWebsiteSetting("homecategorycontent");
						$lastestart="";
						$cateinfo='';
						if (!empty($homecategory['value'])){
							$cateinfo = $db->getCategoryByID($homecategory['value']);
						$lastestart = $db->getArcticleByCateLastesArticle($homecategory['value'],$menu_info['article_id']);
						}
						?>
						<section class="content">
							<div class="container container-content">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
										<?php 
											echo $this->render('mobilelanguagemenu.phtml');
										?>
										<div class="home-breadcrum">
											<ul class="breadcrum-list">
												<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
												<li><?php echo $menu_info['title_menu'];?></li>
											</ul>
										</div>
										
										
										<div id="article-detail" class="mtb-10 pr-20 pl-20"> 
											<div class="article-detail" >
												<div class="row">
													
													<div class="col-sm-12 article-detail-contant">
														<div class="head-title pr-10 pt-10  pl-10 mb-10">
															<h4 class="ptb-10"><?php echo $menu_info['title_menu'];?></h4>
														</div>
													   <div class="article-detail-iteam">
														   <div class="ptb-10 ">
															  <?php echo $aticle['description'];?>
														   </div>
													   </div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<?php 
											echo $this->render('languagemenu.phtml');
										?>
										<?php echo  $this->render('banner.phtml');?>
									</div>
									<div class="clearfix"></div>
								
								</div>
							</div>
						</section>
				<?php }else if ($menu_info['menu_type_id']==4){//Contacts
				$session_message_session = new Zend_Session_Namespace('sentmail_msg');
				$message = $session_message_session->message;
				$session_message_session->unsetAll();
				$contact = $db->getMenuContactByMenID($menu_info['id']);?>
						
						     <?php }else if ($menu_info['menu_type_id']==5){//faq
												 $faq = $db->getAllFaq();
												 ?>  
							<?php }?>
	<?Php }else if(!empty($this->param['article'])){ 
	$aticle = $this->article_de;
	$lastestart = $db->getArcticleByCateLastesArticle($aticle['category_id'],$aticle['id']);
	$cateinfo = $db->getCategoryByID($aticle['category_id']);
	?>	
	<title><?php echo $aticle['title'];?></title>
	<section class="content">
		<div class="container container-content">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<?php 
						echo $this->render('mobilelanguagemenu.phtml');
					?>
					<div class="home-breadcrum">
						<ul class="breadcrum-list">
							<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
							<li><a href="<?php echo $this->baseUrl()."/page/index?category=".$cateinfo['alias_category'].".html";?>"><?php echo $cateinfo['title'];?></a></li>
						</ul>
					</div>
					
					
					<div id="article-detail" class="mtb-10 pr-20 pl-20"> 
						<div class="article-detail" >
							<div class="row">
								
								<div class="col-sm-12 article-detail-contant">
									<div class="head-title pr-10 pt-10  pl-10 mb-10">
										<h4 class="ptb-10"><?php echo $aticle['title'];?></h4>
									</div>
								   <div class="article-detail-iteam">
									   <div class="ptb-10 ">
										  <?php echo $aticle['description'];?>
									   </div>
								   </div>
								</div>
								<div class="clearfix"></div>
								<div class="share-blog pt-10 pb-10 mb-20 pr-20 pl-20">
									<div class="social-icons text-left">
										<a class="label_title"><?php echo $tr->translate("Socail Share");?> : </a>
										<a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($url);?>" class="facebook"><i class="fa fa-facebook"></i></a>
	                                    <a href="https://twitter.com/share?url=<?php echo urlencode($url);?>" class="twitter"><i class="fa fa-twitter"></i></a>
	                                    <a href="https://plus.google.com/share?url=<?php echo urlencode($url);?>" class="google-plus"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<?php 
						echo $this->render('languagemenu.phtml');
					?>
					<?php echo  $this->render('banner.phtml');?>
				</div>
				<div class="clearfix"></div>
			
			</div>
		</div>
	</section>
	<?Php }else if(!empty($this->param['category'])){  
	
// 		$article = $db->getArcticleByCateForlistAll($this->cate['id']);
		$rs="";
		if (!empty($this->param['department'])){
			$dept = explode(".", $this->param["department"]);
			$dbdep = new Department_Model_DbTable_Dbdepartment();
			$rs = $dbdep->getDepartmentFirstRecord($dept[0]);
			$article = $db->getArcticleByCateForlistAll($this->cate['id'],$rs['dept_id']);
		}else{
			$article = $db->getArcticleByCateForlistAll($this->cate['id']);
		}
		$depurl="";
		if (!empty($rs)){
			$depurl = "&department=".$rs['alias'];
		}
		$countarticle = $db->countarticle($this->cate['id']);
			
		$limits = $db->getWebsiteSetting("items_per_page");
		$paginator = Zend_Paginator::factory($article);
		$paginator->setDefaultItemCountPerPage($limits['value']);
		$allItems = $paginator->getTotalItemCount();
		$countPages= $paginator->count();
		$p = Zend_Controller_Front::getInstance()->getRequest()->getParam('pages');
		
		if(isset($p))
		{
			$paginator->setCurrentPageNumber($p);
		} else $paginator->setCurrentPageNumber(1);
			
		$currentPage = $paginator->getCurrentPageNumber();
		
		$articless  = $paginator;
		if($currentPage == $countPages)
		{
			$nextPage = $countPages;
			$previousPage = $currentPage-1;
		}
		else if($currentPage == 1)
		{
			$nextPage = $currentPage+1;
			$previousPage = 1;
		}
		else {
			$nextPage = $currentPage+1;
			$previousPage = $currentPage-1;
		}
		?>
	<title><?php echo $this->cate['title'];?></title>
	<section class="content">
		<div class="container container-content">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<?php 
						echo $this->render('mobilelanguagemenu.phtml');
					?>
					<div class="home-breadcrum">
						<ul class="breadcrum-list">
							<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
							<?php if (!empty($rs['title'])){?>
							<li><a href="<?php echo $this->baseUrl()."/departments/index?dept=".$rs['alias'].".html";?>"><?php echo $rs['title'];?></a></li>
							<?php }?>
							<li><?php echo $this->cate['title'];?></li>
						</ul>
					</div>
					<div id="news-events-list" class="mtb-10 pr-20 pl-20"> 
						<div class="news-events-list" >
							<div class="row">
								
								<div class="col-sm-12 news-contant">
									<div class="head-title pr-10 pt-10  pl-10 mb-10">
										<h4 class="ptb-10"><?php echo $this->cate['title']; //echo empty($rs)?"":" (".$rs['title'].")";?></h4>
									</div>
									<div class="blog-article-list">
									 <?php if(!empty($articless)) foreach($articless as $article){ ?>
										<div class="list">
											<div class="col-sm-4 blog-image">
												<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>">
													<?php 
													$images = $this->baseUrl()."/public/images/noimage.jpg";
													if(!empty($article['image_feature'])){
													$images= $this->baseUrl()."/public/images/article/".$article['image_feature'];
													}?>
													<img src="<?php echo $images;?>"/>
												</a>
											</div>
											<div class="col-sm-8 blog-post-text">
												<h4><a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>"><?php echo $article['title'];?></a></h4>
												<p>
												<?php
													echo mb_substr(strip_tags($article['description']),0,100, "utf-8")."...";
												?>
												</p>
												<div class="readmore">
												<a href="<?php echo $this->baseUrl()."/page/index?article=".$article['alias_article'].".html"; ?>" ><span><?php echo $tr->translate("READ_MORE")?>...</span></a>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
										<?php }?>
									</div>
									<?php 
			                        if($countPages>1){ 
									 	$statpage = $currentPage - 5;
									 	$endpage = $currentPage + 5;
									 	if ($currentPage<=5){
									 		$statpage = 1;
									 		$endpage =10;
									 	}
			                        if (!empty($countPages)){
									 ?>
									<div class="pagination-wrapper text-center fix">
										<div class="pagination-content">
											<a class="ht-page <?php if($currentPage==1){ echo "active";}?>" href="<?php echo $this->baseUrl()."/page/index?category=".$this->cate['alias_category'].".html".$depurl."&pages=".$previousPage;?>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
											<ul class="pagination">
											 <?php  $i=0; for( $i=1; $i<=$countPages; $i++){?>
		           			 					<?php if ($statpage<=$i && $endpage>=$i){?>
												<li class="<?php if($i==$currentPage){ echo "active";}?>"><a href="<?php echo $this->baseUrl()."/page/index?category=".$this->cate['alias_category'].".html".$depurl."&pages=".$i;?>"><?php echo $i;?></a></li>
                                                					<?php }}?>
											</ul>
											<a class="ht-page <?php if($countPages==$currentPage){ echo "active"; }?>" href="<?php echo $this->baseUrl()."/page/index?category=".$this->cate['alias_category'].".html".$depurl."&pages=".$nextPage;?>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
									 <?php }}?>
								</div>
								<div class="clearfix"></div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<?php 
						echo $this->render('languagemenu.phtml');
					?>
					<?php echo  $this->render('banner.phtml');?>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section>
	
	<?Php }?>