<?php
$tr=Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate("COMPANY_NAME")); 
echo $this->headTitle();
$base_url = Application_Form_FrmMessage::getUrl("/");
?>
<!DOCTYPE HTML> 
<html>
<head>
<?php /*
*/?>
<script src="<?php echo $base_url;?>public/js/dojo-1.6.1/dojo/dojo.js"  djConfig="isDebug: true,parseOnLoad: true"></script>
<script>dojoConfig = {parseOnLoad: true}</script>
<link rel="stylesheet" type="text/css" href="<?php echo $base_url;?>public/js/dojo-1.6.1/dijit/themes/tundra/tundra.css"/>
	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
	.btn{
		height: 40px;
		min-width: 100px;	
	}
	.f_style{
		font-family:'NiDA Khmer Empire';
	    font-size:14px;
		text-shadow: 1px 1px 1px #0B404A;
	}
.t_shadow{ text-shadow: 1px 1px 1px #0B404A;}
	#footer table tr td dl {
    line-height: 28px ;
    color: #ffffff;
}


</style>
<link rel="stylesheet" href="<?php echo $base_url;?>public/css/stylelogin.css"/>
<link rel="shortcut icon" href="<?php echo $base_url;?>public/images/icon.ico" type="image/x-icon"/>
<script>	
	require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/form/ValidationTextBox"]);
</script>
</head>
<body class="tundra" style="overflow: hidden; background: white;" id="body" >
<div class="wrapper">
<div id='marquee'>
		<marquee behavior="scroll" direction="left" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="5"><?php echo $this->data["label_animation"];?></marquee>
	</div>
	<div class="container">
		<!--<h1><?php //echo $this->data['client_company_name']?></h1>-->
		<div class="logo"><img  alt="<?php ?>" src="<?php  echo $base_url."public/images/logo.png";//lang/".$this->logo['value'];?>"></div>
		<div class="message"><?php echo $this->msg;?></div>
		<form class="form" id="frmLogin" dojoType="dijit.form.Form" method="post" action="">
			<div class="form-row">
			<input type="text" required="true" name="txt_user_name" id="txt_user_name" placeholder="<?php echo $tr->translate("USER_NAME");?>" 
								data-dojo-type="dijit/form/ValidationTextBox" missingMessage="សូមបំពេញឈ្មោះអ្នកប្រើប្រាស់! " style="width: 100%; padding:10px;"/>
			</div>
			<div class="form-row">
				<input type="password" required="true" name="txt_password" id="txt_password" placeholder="<?php echo $tr->translate("PASSWORD");?>" 
								data-dojo-type="dijit/form/ValidationTextBox" missingMessage="សូមបំពេញលេខសំងាត់!" style="width: 100%; padding:10px;"/>
			</div>
			<div class="form-row">
				<select name="lang" id="lang" style=" width:100%; padding:10px;" > 
									<option value="2"><?php echo $tr->translate("KHMER")?></option> 
									<option value="1"><?php echo $tr->translate("ENGLISH")?></option> 
								</select>	
			</div>
			<input class="f_styles" style="color: #1C90C3; font: 13px 'Khmer MEF2';" type="submit" value="ចូលប្រើប្រាស់" label="<?php echo $tr->translate("SIGN_IN");?>" data-dojo-type="dijit/form/Button" />
								<input class="f_styles" style="color: #1C90C3; font: 13px 'Khmer MEF2';" type="reset" value="សំអាត" id="clear_login" data-dojo-type="dijit/form/Button" label="<?php echo $tr->translate("CLEAR");?>" /> 
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="footer">
		<div class="footer-left">
			<div class="rowdata">
				<div class="label">
					<span class="title">ប្រើប្រាស់ដោយ៖</span> <span class="value"><strong><?php echo $this->data['client_company_name']?></strong></span>
				</div>
			</div>
			<div class="rowdata">
				<div class="label">
					<span class="title"><?php echo $tr->translate("ADDRESS");?>​ ៖</span> <span class="value"><strong><?php echo $this->data['footer_branch']?></strong></span>
				</div>
			</div>
			<div class="rowdata">
				<div class="label">
					<span class="title"><?php echo $tr->translate("PHONE");?></span> <span class="value"><strong><?php						
						$tels = explode("," , $this->data['tel-client']);						
						foreach ($tels AS $i =>$tel){
							echo $tel;
						}
					?>	</strong></span>
				</div>
			</div>
			<div class="rowdata">
				<div class="label">
					<span class="title">&copy <?php echo $tr->translate("All Rights Reserved");?></span> <span class="value"><strong><a  style="font-weight:bold;" href="http://<?php echo $this->data['companywebsite']?>" target="_blank">
					<b><?php //echo $this->data['power_by']?></b>
			</a></strong></span>
				</div>
			</div>
		</div>
		<div class="footer-right">
			
		</div>
	</div>
	
</body>
</html>
<style>
</style>
<script type="text/javascript">
 $("#login-button").click(function(event){
		 event.preventDefault();
	 
	 $('form').fadeOut(500);
	 $('.wrapper').addClass('form-success');
});
</script>
	
		
