<?php 
	$dbselect = new Application_Model_DbTable_DbGlobalSelect();
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	echo $this->headTitle($tr->translate("Sent an Expression"));
?>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('mobilelanguagemenu.phtml');
				?>
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $tr->translate("Expression")?></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					//echo $this->render('languagemenu.phtml');
				?>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 col-sm-12">
                	<div class="col-md-2 col-sm-2">
					</div><!-- /.col-md-12 -->
					<div id="sendExpression" class=" col-md-8 col-sm-8 text-justify mtb-20">
						<header class="section-title highligh text-center mtb-20"><h2><?php echo $tr->translate("Sent an Expression");?></h2></header>
						<?php //if (!empty($this->description)){echo $this->description['description'];}?>
						<form onsubmit="return validateform(this);" id="formMessage" action="" method="Post">
							<span id="error"></span>
							<div class="form-group">
	                            <label for="form-create-account-email"><?php echo $tr->translate("EMAIL");?><span class="require">*</span>:</label>
	                            <input type="email" id="email" name="email" class="form-control" required>
	                        </div>
	                        <div class="form-group">
	                            <label for="form-create-account-email"><?php echo $tr->translate("TOPIC");?><span class="require">*</span>:</label>
	                            <input type="text" id="topic_inquiry" name="topic_inquiry" class="form-control"  required>
	                        </div>
	                        <div class="form-group">
	                            <label for="form-create-account-email"><?php echo $tr->translate("COMMENT");?><span class="require">*</span>:</label>
	                            <textarea rows="8" class="form-control" id="inquiry" name="inquiry" required></textarea>
	                        </div>
	                       <?php //if (!empty($this->description_bottom)){echo $this->description_bottom['description'];}?>
                        </form>
                        <div class="form_search_home">
	                        <div class="row-form-home">
		                        <div class="button_submit">
		                         <div class="form_search_home">
										<div class="row-form-home">
											<div class="button_submit">
												<input type="submit" onClick="sentequery();" value="<?php echo $tr->translate("SUBMIT");?>" class="btu_submit">
											</div>
										</div>
								    </div>
		                        </div>
	                        </div>
                        </div>
					</div>
					<div class="col-md-2 col-sm-2">
					</div>
	            </div>
		</div>
	</div>
</section>

<div id="page-content">
        <section id="form-enquiry" class="block">
            
        </section>
    </div>
	<div class="overlay">
		<div class="overlay-load">
			<div class="overlay-msg">
		    </div>
		</div>
	</div>
    <div id="messagebox" class="messagebox close">
    	<div class="container">
                <div class="row">
                	<div class="col-md-2 col-sm-2">
					</div><!-- /.col-md-12 -->
					<div class="col-md-8 col-sm-8 text-center message_content" >
						<div class="message_content_des">
							<?php echo $tr->translate("Your expression has been sent successfully");?><br />
							<?php echo $tr->translate("Thanks You");?>
						</div>
						<a class="button button-submit" onclick='$("#messagebox").addClass("close"),$("#messagebox").removeClass("open");' href="javascript:;"><?php echo $tr->translate("Close");?></a>
					</div>
					<div class="col-md-2 col-sm-2">
					</div>
    			</div>
    	</div>
    </div>
    <div id="messagebox_fail" class="messagebox close">
    	<div class="container">
                <div class="row">
                	<div class="col-md-2 col-sm-2">
					</div><!-- /.col-md-12 -->
					<div class="col-md-8 col-sm-8 text-center message_content" >
						<div class="message_content_des">
							<?php echo $tr->translate("Your expression has been fail please try again");?><br />
							<?php echo $tr->translate("Thanks You");?>
						</div>
						<a class="button button-submit" onclick='$("#messagebox_fail").addClass("close"),$("#messagebox_fail").removeClass("open");' href="javascript:;"><?php echo $tr->translate("Close");?></a>
					</div>
					<div class="col-md-2 col-sm-2">
					</div>
    			</div>
    	</div>
    </div>
    <script>
		var message = document.getElementById('error');
		function sentequery() {
			var url_ajax = '<?php  echo $this->url(array('module'=>'','controller' => 'index','action' => 'sentenquery'));?>';
			var myform = document.getElementById("formMessage");
			var formData = jQuery(myform).serializeArray();
			
			  re = /^\w+$/;
			
			    if(myform.email.value == "") {
			      message.innerHTML = "<?php echo $tr->translate("Please fill your email address");?>";
			      myform.email.focus();
			      return false;
			    }
				if(myform.topic_inquiry.value == "") {
			      message.innerHTML = "<?php echo $tr->translate("Please fill topic of expression");?>";
			      myform.topic_inquiry.focus();
			      return false;
			    }
				if(myform.inquiry.value == "") {
			      message.innerHTML = "<?php echo $tr->translate("Please fill comment");?>";
			      myform.inquiry.focus();
			      return false;
			    }
		
			if(validateEmail()==1){
				return false;
			}
			document.getElementsByClassName("overlay")[0].style.display="block";
			jQuery.ajax({
		        url: url_ajax,
		        type: "post",
		        data: formData,
		        success: function(data){
		        	document.getElementById('formMessage').reset();
		        	//alert("your feedback has been sent! Thank you for you feedback !");
						if(data==1){
							$("#messagebox").addClass("open");
						    $("#messagebox").removeClass("close");
						}else{
							$("#messagebox_fail").addClass("open");
						    $("#messagebox_fail").removeClass("close");
						}
						
						document.getElementsByClassName("overlay")[0].style.display="none";
				},
				error: function(err) {
					alert(err);
				}
			});
		}
		function validateEmail($Email) {
			var myform = document.getElementById("formMessage");
		    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

		    if (filter.test(myform.email.value)) {
		        return 0;
		   	}else {
			   	 message.innerHTML = "<?php echo $tr->translate("Please include an @ in this email address");?>";
			      myform.email.focus();
		        return 1;
		    }
		}
	</script>