<?php 
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$dbselect = new Application_Model_DbTable_DbGlobalSelect();
$facebook = $dbselect->getWebsiteSetting('facebook');
$session_lang=new Zend_Session_Namespace('lang');
$currentlang = $session_lang->lang_id;
if ($currentlang==1){
	$day = array("Mon"=>"Monday", "Tue"=>"Tuesday", "Wed"=>"Wednesday","Thu"=>"Thursday", "Fri"=>"Friday", "Sat"=>"Saturday", "Sun"=>"Sunday");
	$number = array("0","1","2","3","4","5","6","7","8","9");
	$month = array("01"=>"Jan", "02"=>"Feb", "03"=>"Mar","04"=>"Apr", "05"=>"May", "06"=>"Jun", "07"=>"Jul","08"=>"Aug", "09"=>"September", "10"=>"Oct","11"=>"Nov", "12"=>"Dec");
}else{
	$day = array("Mon"=>"ថ្ងៃច័ន្ទ", "Tue"=>"ថ្ងៃអង្គារ", "Wed"=>"ថ្ងៃពុធ","Thu"=>"ថ្ងៃព្រហស្បត្តិ៍", "Fri"=>"ថ្ងៃសុក្រ", "Sat"=>"ថ្ងៃសៅរ៍", "Sun"=>"ថ្ងៃអាទិត្យ");
	$number = array("០","១","២","៣","៤","៥","៦","៧","៨","៩");
	$month = array("01"=>"មករា", "02"=>"កុម្ភៈ", "03"=>"មិនា", "04"=>"មេសា", "05"=>"ឧសភា", "06"=>"មិថុនា", "07"=>"កក្កដា","08"=>"សីហា", "09"=>"កញ្ញា", "10"=>"តុលា","11"=>"វិច្ឆិកា", "12"=>"ធ្នូ");
}

$stringDocument="";
if(!empty($this->document_type)) foreach($this->document_type as $key =>$rs){
	if (empty($stringDocument)){
		$stringDocument = $rs['title'];
	}else{
		if ($key== (count($this->document_type)-1)){
			$stringDocument = $stringDocument." ".$tr->translate("AND").$rs['title'];
		}else{
			$br="";
// 			if ($key==4){
// 				$br="<br />";
// 			}
			$stringDocument = $stringDocument.", ".$br.$rs['title'];
		}
	}
}
?>
		<title><?php echo $tr->translate("COMPANY_NAME");?></title>
		<!-- Slider Three Area Start -->
		<section class="content">
			<div class="container container-content">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('mobilelanguagemenu.phtml');
						?>
						<div class="slider-three-area">
							<div class="slider-wrapper">
							<?php if(!empty($this->slideshow))  foreach($this->slideshow as $key => $ss){?>
								<div  data-dot="<?php echo $key+1;?>" class="single-slide" style="background-image: url('<?php echo $this->baseUrl()."/public/images/slide/".$ss['images']; ?>');">
									<div class="banner-content">
										<div class="container">
											<div class="row">
												<div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
												</div>
											</div>
										</div>
									</div>
								</div>
							<?php }?>
								
							</div>
						</div>
						<?php if (!empty($this->ministerMessage)){?>
						<div id="president-message-box" class="mtb-10"> 
							<div class="president-message" style="background-image: url(<?php echo $this->baseUrl()."/public/images/article/".$this->ministerMessage['image_feature'];?>);">
								<div class="row">
									<div class="col-sm-4 pt-5">
										<!------<img src="img/choosetaxi1.png">-------->
									</div>
									<div class="col-sm-8 message-contant">
									   <div class="message-iteam">
										   <div>
											   <h4 class="ptb-10">
												  <?php echo $this->ministerMessage['title'];?>
											   </h4>
										   </div>
										   <div class="mt-10">
										   		<?php 
										   		if ($currentlang==2){
										   			echo mb_substr(strip_tags($this->ministerMessage['description']),0,400, "utf-8")."..."; 
												}else if ($currentlang==1){
													echo mb_substr(strip_tags($this->ministerMessage['description']),0,200, "utf-8")."...";
												}?>
										   </div>
										   <div class="message-more">
												<a class="readmore" href="<?php echo $this->baseUrl()."/index/ministermessage";?>"><?php echo $tr->translate("READ_MORE");?>...</a>
										   </div>
									   </div>
									</div>
								</div>
							</div>
						</div>
						<?php }?>
						<?php if (!empty($this->ministerCurriculum)) {?>
						<div id="president-curriculum" class="mtb-10"> 
							<div class="president-curriculum" >
								<div class="row">
									
									<div class="col-sm-8 curriculum-contant">
									   <div class="curriculum-iteam">
										   <div class="ptb-10">
											   <pre class="text-right"><?php echo $this->ministerCurriculum['title'];?></pre>
										   </div>
										  
										   
									   </div>
									</div>
									<div class="col-sm-4 pt-5">
										<div class="president-profile text-center">
											<?php 
											$images = $this->baseUrl()."/public/images/no-profile.png";
											if (!empty($this->ministerCurriculum['image_feature'])){
												$images = $this->baseUrl()."/public/images/article/".$this->ministerCurriculum['image_feature'];
													}
												?>
											<img src="<?php echo $images;?>">
										</div>
									</div>
									<div class="curriculum-more">
										<a class="readmore" href="<?php echo $this->baseUrl()."/curriculumvitae";?>"><?php echo $tr->translate("READ_MORE");?>...</a>
								   </div>
								</div>
							</div>
						</div>
						<?php }?>
						<div id="blog-search-home" class="mtb-10"> 
							<div class="blog-search-content pb-20 pl-20 pr-20 pt-20" >
								<div class="row">
									<div class="col-sm-12 search-home-contant">
										<div class="head-title mb-10">
											<h4 class="ptb-10"><?php echo $tr->translate("SEARCH_ORG");?></h4>
											<small><?php echo $tr->translate("Find a small enterprise, small enterprise, water resources and other institutions that are officially registered in the ministry");?></small>
										</div>
										<form action="<?php echo $this->baseUrl()."/searchcompany";?>" method="GET">
										 <div class="row-form-home">
											<div class="col-sm-4" >
												<input type="hidden" name="search" id="search" value="company">
												<input type="text" name="name" id="name" placeholder="<?php echo $tr->translate("ORG_NAME");?>">
											</div>
											<div class="col-sm-3" >
												<select name="type" id="type" class="js-select2" data-placeholder="<?php echo $tr->translate("TYPE");?>">
													<option value=""></option>
													<option value="1"><?php echo $tr->translate("For Handicrafts,SME");?></option>
													<option value="2"><?php echo $tr->translate("For The Water Supply Sector");?></option>
												</select>
											</div>
											<div class="col-sm-3" >
												<select name="province" id="province" class="js-select2" data-placeholder="<?php echo $tr->translate("City_Province");?>" >
													<option value=""></option>
													<?php if(!empty($this->rsprovince)){
													foreach($this->rsprovince as $rs){
													?>	
														<option value="<?php echo $rs['id'];?>"><?php echo $rs['name'];?></option>
													<?php }}?>
												</select>
											</div>
											<div class="col-sm-2" >
												<div class="button_submit" >
													<input type="submit" value="<?php echo $tr->translate("SEARCH");?>"  class="btu_submit"/>
												</div>
											</div>
										</div>
										</form>
									</div>
									
								</div>
							</div>
						</div>
						<div id="news-events" class="mtb-10"> 
							<div class="news-events" >
								<div class="row">
									<div class="col-sm-12 news-events-contant">
										<div class="head-title pr-10 pt-10  pl-10 mb-10">
											<h4 class="ptb-10"><?php echo $this->categoryinfo['title'];?></h4>
											<div class="blog-showall">
												<a href="<?php echo $this->baseUrl()."/page/index?category=".$this->categoryinfo['alias_category'].".html";?>" class="showall"><span><?php echo $tr->translate("SHOW_ALL");?>...</span></a>
											</div>
										</div>
										<div class="blog-article-list">
										<?php if (!empty($this->gethomearticle)){ foreach ($this->gethomearticle as  $rs){ //$i++;?>
											<div class="list">
												<div class="col-sm-4 blog-image">
													<a href="<?php echo $this->baseUrl()."/page/index?article=".$rs['alias_article'].".html"?>">
														<?php 
														$images = $this->baseUrl()."/public/images/noimage.jpg";
														if (!empty($rs['image_feature'])){
															$images = $this->baseUrl()."/public/images/article/".$rs['image_feature'];
														}?>
														<img src="<?php echo $images;?>">
													</a>
												</div>
												<div class="col-sm-8 blog-post-text">
													<h4><a href="<?php echo $this->baseUrl()."/page/index?article=".$rs['alias_article'].".html"?>"><?php echo mb_substr($rs['title'],0,120, "utf-8");?></a></h4>
													<p>
													<?php echo mb_substr(strip_tags($rs['description']),0,100, "utf-8")."..."; ?>
													</p>
													<div class="readmore">
													<a href="<?php echo $this->baseUrl()."/page/index?article=".$rs['alias_article'].".html"?>" ><span><?php echo $tr->translate("READ_MORE");?>...</span></a>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<?php } }?>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('languagemenu.phtml');
						?>
						
						<?php 
							echo $this->render('banner.phtml');
						?>
						<?php if (!empty($facebook['value'])){?>
						<div id="blog-facebook-home" class="mtb-10"> 
							<div class="blog-facebook-home mb-20" >
								<div class="row">
									<div class="col-sm-12 blog-facebook-home-contant">
										<div class="head-title mb-10 pr-10 pl-10">
											<h4 class="ptb-10"><img src="<?php echo $this->baseUrl()."/public/images/facebook.png"?>" /><?php echo $tr->translate("FACEBOOK");?></h4>
										</div>
										<div class="fb-page" data-href="<?php echo $facebook['value'];?>" data-tabs="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="<?php echo $facebook['value'];?>" class="fb-xfbml-parse-ignore"><a href="<?php echo $facebook['value'];?>"><?php echo $tr->translate("COMPANY_NAME");?></a></blockquote></div>
									</div>
								</div>
							</div>
						</div>
						<?php }?>
<?php 
							echo $this->render('counter.phtml');
						?>
					</div>
					<div class="clearfix"></div>
					<?php if (!empty($this->document)){?>
					<!-- Blog Document Start -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="
    padding: 5px;
    margin-top: 0;
    padding-top: 0;
">
						<div id="document-file" class=" ptb-20 mtb-10">
							<div class="row">
								<div class="col-sm-12 document-file-contant">
									<div class="head-title pr-10 pt-10  pl-10 mb-10">
										<h4 class="ptb-10"><?php echo $tr->translate("DOCUMENT");?></h4>
										<small><?php echo $stringDocument;?></small>
										<div class="blog-showall">
											<a href="<?php echo $this->baseUrl()."/documents";?>" class="showall"><span><?php echo $tr->translate("SHOW_ALL");?>...</span></a>
										</div>
									</div>
									<div class="blog-file-slide">
									<?php foreach ($this->document as $doc){
				                    	if (!empty($doc['image'])){
				                    	$image = $this->baseUrl()."/public/file/image_feature/".$doc['image'];
				                    	}else{
				                    		$image = $this->baseUrl()."/public/images/file.jpg";
				                    	}
				                    	?>
										 <div class="col-xs-12">
											<div class="single-blog">
												<div class="blog-image">
													<a href="<?php echo $this->baseUrl()."/public/file/".$doc['file_name'];?>" target="_blank">
														 <img src="<?php echo $image;?>" alt="">
													</a>
												</div>
												<?php 
													$date = strtotime($doc['modify_date']);
													$spp = str_split(date("d",$date));
													$num="";
													foreach ($spp as $ss){
														$num.=$number[$ss];
													}
													$year='';
													$sp_year = str_split(date("Y",$date));
													foreach ($sp_year as $y){
														$year.=$number[$y];
													}
													
													?>
												<div class="title_date">
													<?php echo $day[date("D",$date)]." ".$num." ".$month[date("m",$date)]." ".$year;?>
												</div>											

											</div>
										</div>
										 <?php }?>
									</div>
								</div>
							</div>
							
						</div>		
					</div>
					<!-- Blog Document End -->
					<?php }?>
					
					
				</div>
			</div>
		</section>
		 <?php if (!empty($this->partner2)){?>
		<div id="partner" class="partner pb-10">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 partner-file-contant">
						<div class="head-title pr-10 pt-10  pl-10 ">
							<h4 class="ptb-10"><?php echo $tr->translate("PARTNER");?></h4>
						</div>
						<div class="partner_list_content">
							<ul class="partner_list">
							<?php foreach ($this->partner2 as $rs){
								if($rs['image'] == ''){
										//no image
								}else{
								?>
								<li class="col-md-2 col-sm-3 col-xs-6 partnerlist">
								<?php if($rs['option_link']==1){ echo '<a href="'.$this->baseUrl().'/internal/index/partner/'.base64_encode($rs['id']).'">'; }else{ echo '<a href="'.$rs['link'].'" target="_blank">'; } ?><img src="<?php echo $this->baseUrl()."/public/images/slide/partner/".$rs['image']?>" /></a></li>
							<?php
								}
							 }?>
							</ul>
						</div>
					</div>
				</div>
			</div>
	   </div>  
	   <?php }?>
        
