<?php
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$this->headTitle($tr->translate('EDIT_DEPARTMENT')); 
echo $this->headTitle();
$frm = $this->frm;
$db = new Department_Model_DbTable_Dbdepartment();
$countlang = count($this->lang);
?>
<script type="text/javascript">	
	dojo.require("dijit.form.ValidationTextBox");
	dojo.require('dijit.form.Form');	
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.FilteringSelect');
	dojo.require("dijit.Dialog");
	require(["dijit/form/CheckBox","dijit/Dialog","dijit/layout/TabContainer"]);
</script>
<style>
.choose_file{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    border: #b1badf solid 1px;
    width: 100%;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: #edf7f8;
}
.choose_file input[type="text"]{
    -webkit-appearance:none; 
    position:absolute;cursor: pointer;
    top:0; right:0;    width: 100%;
    opacity:0; 
}
div.cke_contents.cke_reset {
		height: 600px !important;
	}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form action="" dojoType="dijit.form.Form" method="post" enctype="application/x-www-form-urlencoded">
	<script type="dojo/method" event="onSubmit">				
			if(this.validate()) {
    			if(alias_require==0){ alert("Please check your title alias again.");return false;}
				loading();				
				return true;
			}
			return false;
	</script>
		
	<table  style="margin: 0 auto; width: 100%">
		<tr class="header">
			<td><strong><i class="fa fa-cubes" aria-hidden="true"></i><?php echo $tr->translate('EDIT_DEPARTMENT')?></strong></td>
		</tr>
			<tr>
				<td>
					<table  width="100%">
						<tr>
							<td align="left" valign="top" width="70%">
							<?php if ($countlang>1){?>
								<div id="mainTabContainer" style=" position:relative; width:800px; display:block; height: 550px;" dojoType="dijit.layout.TabContainer" region="center" >
					      	<?php }?>		
					      	<?php $alias=''; foreach($this->lang as $key=> $rs){ if ($key<1){ $alias = str_replace(' ','',$rs['title']);} $lang = $db->getDepartmentTitleByLang($this->id, $rs['id']);?>
					      			<div class="tabContentSection" dojoType="dijit.layout.ContentPane" title="<?php echo $tr->translate(strtoupper($rs['title']));?>" selected="true">
										<table cellspacing="5" width="100%">
											<tr>
												<td class="bold"><?php echo $tr->translate('TITLE')?></td>
												<td>
													<input type="text" onChange="generateAlias('<?php echo $alias;?>');" dojoType="dijit.form.TextBox" required="required" name="title<?php echo str_replace(' ','',$rs['title']);?>"  id="title<?php echo str_replace(' ','',$rs['title']);?>" value="<?php echo $lang['title'];?>" class="fullside" placeholder="<?php echo $tr->translate("TITLE_IN_".strtoupper($rs['title']));?>" />
													<input type="hidden" dojoType="dijit.form.TextBox" name="iddetail<?php echo str_replace(' ','',$rs['title']);?>"  id="iddetail<?php echo str_replace(' ','',$rs['title']);?>" value="<?php echo $lang['id'];?>" class="fullside" />
												</td>
											</tr>
											<tr>
												<td  colspan="2" class="bold" style="width:110px"><?php echo $tr->translate('DESCRIPTION')?><?php echo str_replace(' ','',$rs['title']);?></td>
											</tr>
											<tr>
												<td colspan="2">
													<textarea class="ckeditor" height="400px" style="min-height:60px;font-family:'khmer os battambang'" id="description<?php echo str_replace(' ','',$rs['title']);?>" name="description<?php echo str_replace(' ','',$rs['title']);?>"><?php echo $lang['description'];?></textarea>
												</td>
											</tr>
										</table>
									</div>
								<?php }?>
							<?php if ($countlang>1){?>
								</div>
							<?php }?>
							</td>
							<td width="30%" style=" vertical-align: top;">
								<table cellspacing="5" width="100%">
									<tr>
										<td>
										<label id="message" style="color: red;"></label>
										<?php echo $frm->getElement('title_alias');?></td>
									</tr>
									<tr>
										<td class="bold"><?php echo $tr->translate('CHOOSE_PARENT')?></td>
									</tr>
									<tr>
										<td><?php echo $frm->getElement('parent');?></td>
									</tr>
									<tr><td class="bold"><?php echo $tr->translate('STATUS')?></td></tr>
									<tr>
										<td><?php echo $frm->getElement('status');?></td>
									</tr>
								</table>
							</td>								
						</tr>
						<tr>
							<td>
						</td>
						</tr>
					</table>	
			</td>			
		</tr>
		<tr>
			<td colspan="2" align="center">
			<input type="button" value="GO_BACK" label="<?php echo $tr->translate('GO_BACK');?>" id="back" dojoType="dijit.form.Button" 
				iconClass="dijitIconUndo" onclick="window.history.back();" />
				<input class="button_success" type="submit" value="រក្សាទុក" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="submitButton" dojoType="dijit.form.Button"  iconClass="dijitEditorIcon dijitEditorIconSave"/> 							
			</td>
		</tr>
	</table>	
	<input type="hidden" id="agent" name="agent" value="0" />	
</form>
<script>
dojo.ready(function(){
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
	  });
});
function loading(){
    document.getElementsByClassName("overlay")[0].style.display="block";
}
var alias_require=1;
	var old_alias="<?php echo $this->row['alias'];?>";
	var specialcharalias = [" ",",",".","?",";","/","{","}","|","[","]","~","!","@","#","$","%","^","&","*","(",")","+","=","`","<",">"];
	function generateAlias(alias){
		title = dijit.byId('title'+alias).get('value');
		var title_alias = title.split(' ').join('-');
		for(var i=0; i<specialcharalias.length;i++){
			title_alias = title_alias.split(specialcharalias[i]).join('');
		}
		dijit.byId("title_alias").attr('value',title_alias.toLowerCase());
		checkTitle();
	}
	
	function checkSpcialCharFortitle(event){
        if(((event.keyCode > 64 && event.keyCode < 91) || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 34 || event.keyCode == 32 || event.keyCode == 63 || event.keyCode == 45 || (event.keyCode > 96 && event.keyCode < 123) || event.keyCode == 8 || (event.keyCode >= 48 && event.keyCode <= 57))){
            event.returnValue = true;
            return;
         }
         event.returnValue = false;
      }
	 function checkSpcialChar(event){
         if(((event.keyCode > 64 && event.keyCode < 91) || event.keyCode == 45 || (event.keyCode > 96 && event.keyCode < 123) || event.keyCode == 8 || (event.keyCode >= 48 && event.keyCode <= 57))){
             event.returnValue = true;
             return;
          }
          event.returnValue = false;
       }
</script>