<?php 
$url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$banner = $this->banner_info;
?>
<title><?php echo $tr->translate("More About Organization");?></title>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('mobilelanguagemenu.phtml');
				?>
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $tr->translate("BANNER");?></li>
					</ul>
				</div>
				<div id="document-list" class="mtb-10 pr-20 pl-20"> 
					<div class="document-list" >
						<div class="row">
							
							<div class="col-sm-12 document-contant">
								<div class="head-title pr-10 pt-10  pl-10 mb-10">
									<h4 class="ptb-10"><?php echo $tr->translate("BANNER");?></h4>
								</div>
								<div class="result-blog ptb-20">
										<div class="company-list ptb-10 mb-10">
											<div class="col-sm-4 blog-image">
											<?php 
												 $image = $this->baseUrl()."/public/images/noimage.jpg";
										  		 if (!empty($banner['image'])){
													$image = $this->baseUrl()."/public/images/banner/".$banner['image'];
												}
												?>
													<img src="<?php echo $image;?>">
											</div>
											<div class="col-sm-8 blog-companyinfo-text ">
												<h4><?php echo $banner['title'];?></h4>
												<?php echo $banner['description'] ;?>
											</div>
										<div class="clearfix"></div>
									</div>
									<div class="clearboth"></div>
								</div>
							</div>
							<div class="clearfix"></div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('languagemenu.phtml');
				?>
				<?php echo  $this->render('banner.phtml');?>
			</div>
			<div class="clearfix"></div>
		
		</div>
	</div>
</section>