<?php
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	echo $this->headTitle($tr->translate('EDIT_COMPANY'));
	$rsdata = $this->rs;
	$frm = $this->frm_company;
?>	
<script src="<?php echo $this->baseUrl();?>/public/js/help.js"  type="text/javascript"></script>
<script>
dojo.require("dojo.data.ItemFileWriteStore");  
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.CheckBox");
dojo.require("dijit.Dialog");
dojo.require("dijit.layout.TabContainer");
dojo.require("dijit.form.Textarea");
dojo.require("dojo.parser");
dojo.require("dojo.NodeList-manipulate");
</script>
<style>
	img.image_view {
	   width: 160px;
   	   height: 95px;
	}
img.image_viewss {
    width: 30%;
}
</style>
<script src="<?php echo $this->baseUrl();?>/public/ckeditor/ckeditor.js"></script>
<form id='company' action="" enctype="multipart/form-data" dojoType="dijit.form.Form" method="post">
<script type="dojo/method" event="onSubmit">			
			if(this.validate()) {
				loading();
				return true;
			} else {
				return false;
			}
</script>

<table  width="100%" style="margin-top:-5px;">
	<tr class="header">
		<td colspan="2"><strong><i class="fa fa-users" aria-hidden="true"></i><?php echo $tr->translate('EDIT_COMPANY')?></strong></td>
	</tr>
	<tr>
		<td style="max-width:1100px;border: solid 1px #eee;background: rgba(241, 241, 241, 0.2);">
		<table style="margin: 0 auto; width: 100%;">
			<tr>
				<td align="left" valign="top">
						<table style="margin: 0 auto; width: 100%;" cellspacing="10">
							<tr>
								<td><?php echo $tr->translate("Company Name")?></td>
								<td><?php echo $frm->getElement('company_name');?>
								    <?php echo $frm->getElement('id');?>
								
								</td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("PHONE")?></td>
								<td><?php echo $frm->getElement('phone');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("EMAIL")?></td>
								<td><?php echo $frm->getElement('email');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("រាជធានី-ខេត្ត")?></td>
								<td><?php echo $frm->getElement('province_id');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("ADDRESS")?></td>
								<td><?php echo $frm->getElement('address');?></td>
							</tr>
							<tr>
								<td><?php echo $tr->translate("About Company")?></td>
							</tr>
							<tr>
								<td colspan="2">
									<?php echo $frm->getElement('note');?>
								</td>
							</tr>
						</table>
					</td>
					<td width="40%" style="background:#eaeaea; vertical-align: top;">
						<table style="margin: 0 auto; width: 100%;" cellspacing="10">
							<tr>
								<td><?php echo $tr->translate("STATUS")?></td>
								<td>
									<?php echo $frm->getElement('status');?>
								</td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: center;background: #fff;">
									<?php if (!empty($rsdata['logo'])){?>
										<img class="image_viewss" id="image_view" src="<?php echo $this->baseUrl()."/public/companylogo/".$rsdata['logo'];?>" alt=""  />
									<?php }else{?>
										<img class="image_viewss" id="image_view" src="<?php echo $this->baseUrl().'/public/images/no-image.png';?>" alt=""  />
									<?php }?>
									<div class="button_browse">
										<input type="hidden" id="old_photo" name="old_photo" value="<?php echo $rsdata['logo'];?>">
										<span><?php echo $tr->translate("ឡូហ្គូក្រុមហ៊ុន/Logo")?> (jpg, .jpeg, .png)<span><i class="fa fa-camera" aria-hidden="true"></i></span></span>
										<input class="btn_borwse_image"  type="file" id="photo" name="photo" onchange="loadImagess()">
									</div>
								</td>
							</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="reset" label="<?php echo $tr->translate('CLEAR');?>" dojoType="dijit.form.Button" iconClass="dijitIconClear" /> 
					<input type="submit" value="SAVE_NEW" tabindex="1" label="<?php echo $tr->translate('EDIT');?>" id="save_new" dojoType="dijit.form.Button" name="save_new"
						iconClass="dijitEditorIcon dijitEditorIconSave" />
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>	
</form>
<table>
<tr>
</tr>
</table>
<div class="dijitHidden">
	<div data-dojo-type="dijit.Dialog" data-dojo-props="title:'<?php echo $tr->translate("DO_YOU_WANT_TO_DEL")?>'"  id="deleteForm" style="width:350px;" >
		<div style=" text-align: center;">
			<h4><?php echo $tr->translate("DO_YOU_WANT_TO_DEL")?></h4>
			<input type="hidden" name="recorddelete" id="recorddelete" dojoType="dijit.form.TextBox" />
			<button onclick="closeForm();" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("CANCEL");?></button>
			<button onclick="deleteRecord('',1);" iconclass="dijitIconDelete" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("DELETE");?></button>
		</div>
	</div>
</div>
<script type="text/javascript">
dojo.ready(function(){	
	dijit.byId("province_id").attr("value",12);
});
function closeForm(){
	dijit.byId('deleteForm').hide();
}
function loadImagess(){
	 var output = document.getElementById('image_view');
	output.src = URL.createObjectURL(event.target.files[0]);
}
var col = 0;
var no = 0;
var title = 0;
func='';
tmp = '';
var temp='';

function loadImage(index){
	 var output = document.getElementById('image_view'+index);
    output.src = URL.createObjectURL(event.target.files[0]);
}
function loading(){
document.getElementsByClassName("overlay")[0].style.display="block";
}
function stopLoading(){
	 document.getElementsByClassName("overlay")[0].style.display="none";
}	
</script>