<?php 
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
echo $this->headTitle($tr->translate("Partner List"));
$frm = $this->frm;
$frms = $this->frm_search;
$url_delete =$this->url(array('module'=>'other','controller'=>'partner','action'=>'delete'));
?>
<script>
	dojo.require("dijit.form.DateTextBox");
</script>
 <form id="list" name="list" action="" dojoType="dijit.form.Form" method="post">
   <table width="100%">
   <tr>
		<td><?php echo $frms->getElement('adv_search');?>
   		<td><?php echo $frms->getElement('status');?>
   		<button iconclass="dijitIconSearch" dojoType="dijit.form.Button" showLabel="true" type="submit"><?php echo $tr->translate("SEARCH");?></button>
   		</td>
   </tr>
</table>
</form>
<?php 
$stringPagination = '';
$imgnone='<img src="'.$this->baseUrl().'/public/images/icon/cross.png"/>';
$imgtick='<img src="'.$this->baseUrl().'/public/images/icon/apply2.png"/>';
?>
<form name="list">
	<div >
		<table border="1" id="datatable-responsive" style="  border-collapse: collapse;   border-color: #ddd;"  class="display nowrap dataTable dtr-inline collapsed" cellspacing="0" width="100%" >
			<thead>
				<tr>
				<th class="tdheader"><?php echo $tr->translate("NUM")?></th>
				<th class="tdheader"><?php echo $tr->translate("TITLE")?></th>
				<th class="tdheader"><?php echo $tr->translate("IMAGE")?></th>
				<th class="tdheader"><?php echo $tr->translate("STATUS")?></th>
				<th class="tdheader"><?php echo $tr->translate("BY_USER")?></th>
			  	</tr>
			  </thead>
			  <tbody>
			  <?php $r=0;
			   if (!empty($this->row)){ foreach($this->row as $row){ $r++;
			  	if($r%2==0)$attb='normal';
			  	else $attb='alternate';
			  	?>
			  	<tr class="<?php echo $attb; ?>">
			  		<td class="items-no"><?php echo $r;?></td>
			  		<td class="items"><a href="<?php echo $this->url(array('controller'=>'banner','action'=>'edit','id'=>$row['id']));?>"><?php echo $row['title'];?></a></td>
			  		<td class="items"><img style="max-height:50px;" src="<?php echo $this->baseUrl()."/public/images/banner/".$row['image'];?>" /></td>
			  		<td class="items"><?php if($row['status']==1){echo  $imgtick;} else{echo $imgnone;};?></td>
			  		<td align="center" class="items"><?php echo $row['user_name'];?></td>
			  	</tr>
			  	<?php }
			  	?>
			  	
			  </tbody>
			  </table>
			</div>
		</form>
		<div class="footer_list"><?php echo $stringPagination; ?><span class="row_num"><?php echo $tr->translate('NUM-RECORD')." ".count($this->row)?></span></div>
				<?php }else{?>
				</table></div><center style="font-size:18pt;"><label id="data_table">No record</label></center></form>
				<?php }?>
<?php //echo $this->list;?>
<script type="text/javascript">
dojo.require("dijit.form.CheckBox"); 
dojo.require("dijit.form.NumberTextBox");
dojo.require("dijit.form.Textarea");
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.Dialog");
	var recordid ='';
	function  resetForm(){
		var datenow = '<?php echo date("Y-m-d");?>';
		dijit.byId('adv_search').attr('value','');
		dijit.byId('status_search').set('value','-1');
	}
	function deleteRecord(url){
		 id = recordid;
		 window.location.href = url+'/id/'+id;
	}
	function showDeleteForm(id){
		//id = dijit.byId('recorddelete').get('value');
		if(id==''){
			alert("No record selected for delete.");
			dijit.byId('deleteForm').hide();
		}else{
			dijit.byId('deleteForm').show();
			recordid = id;
		}
	}
	function closeForm(){
		dijit.byId('deleteForm').hide();
	}
</script> 
<div class="dijitHidden">
	<div data-dojo-type="dijit.Dialog" data-dojo-props="title:'តើអ្នកពិតជាលុបទិន្នន័យនេះមែនទេ?'"  id="deleteForm" style="width:350px;" >
		<div style=" text-align: center;">
			<h4>តើអ្នកពិតជាលុបទិន្នន័យនេះមែនទេ?</h4>
			<button onclick="deleteRecord('<?php echo $url_delete;?>')" iconclass="dijitIconDelete" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("DELETE");?></button>
			<button onclick="closeForm();" dojoType="dijit.form.Button" showLabel="true" type="button"><?php echo $tr->translate("CANCEL");?></button>
		</div>
	</div>
</div>