#menu{vertical-align:middle;width:100%;line-height:normal;clear:both;margin:0 0 0 0px;overflow:hidden;background: #fff;border-bottom: solid 5px #ca9812;}
#menu div, ul, li{margin:0;padding:0;}
#menu ul{list-style:none outside none; margin: 0; /*--background:none repeat scroll 0 0 #008;border-bottom:4px solid #CA9812; */   text-align: left;}
#menu li{background: none repeat scroll 0 0 #fff;display: inline-block;font-weight:bold;text-transform: capitalize !important;text-align:center;}
#menu a{border-right:1px solid #999;color: #3d3e92;display:block;line-height: 25px;padding: 2px 15px;text-decoration:none;}
#menu a:hover{color:#bbb;text-decoration:none;}
#menu li.current{background: #e4ac17;line-height: 35px;/* border:1px solid #CA9812; *//*padding-top:4px;*/border-bottom:none;}
#menu li.section{background:url(activeNav.png) no-repeat 0% 0;width:160px;height:34px;line-height:34px;}
#menu li.section a{color:#c7d8ec;text-decoration:none;}
#menu li.current a, #menu li.current a:hover{background: none repeat scroll 0 0 #ca9812;color:#FFFFFF;margin-top:-4px;/*padding:8px 5px;*/text-decoration:none;}
#header-left ul{clear:both;float:left;list-style:none;margin:0;padding:0;text-align:left;width:100%;}
#header-left ul li{display:block;list-style:none;margin:0px;padding:0px;margin-top:3px;margin-bottom:3px;position:relative;border:1px solid #ccc;}
#header-left ul li a{color:#333333;display:block;border:0px solid #EDF7DF;font-family:sans-serif,'Kh Battambang','Khmer Battambang',Arial,Helvetica,sans-serif;font-size:14px;font-weight:normal;line-height:35px;padding:0px 5px;border-right-color:#9BC37C;border-top-left-radius:3px;border-bottom-left-radius:3px;text-decoration:none;text-shadow:0 1px 0 #EEEEEE;}
#header-left ul li span{display:block;font-family:"Lucida Grande",Tahoma,"Bitstream Vera Sans",Arial,sans-serif;font-size:15px;font-weight:normal;line-height:35px;padding:0 5px;text-decoration:none;text-shadow:0 1px 0 #EEEEEE;}
span.current-left{background:none repeat scroll 0 0 #EDF7F8;border:1px solid #9DA2DD;border-right-color:#EDF7F8;color:#333333;margin-top:-1px;padding:0 24px;text-shadow:1px 1px 1px #C6D9E9;}
#header-left ul li a:hover,
#header-left ul li a:active,
#header-left ul li a:focus{background:#EDF7F8;}
.langiconen{ margin-top: 15px; color:red;background:url('../images/en.jpg') left top no-repeat;width:42px;height:58px;}
.langiconkh{ margin-top: 15px; color:red;background:url('../images/km.png') left top no-repeat;width:42px;height:58px;}
span.icon_menu {
			padding: 0 15px;
			font-size: 20px;
		}
		
		.image-box {
    display: inherit;
    position: relative;
    text-align: center;
}
.image-box img {
    width: 150px;
    border-radius: 60%;
    height: 150px;
    margin-top: 10px;
    border: solid 1px #eee;
}
.button_browse {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 38px;
    background: #fbf9f9;
    border: 1px solid #e8e8e8;
}
.button_browse span {
    line-height: 33px;
    font-weight: 600;
    cursor: pointer;
}
input.btn_borwse_image {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.account-image {
    border: solid 1px #eee;
}
tr.header td {
    background: #008;
    padding: 10px;
    color: #fff;
}
tr.header td i {
    padding-right: 10px;
}
td.bold {
    font-weight: 600;
}
td.blog-right{
	vertical-align: top;background: #eee;padding: 10px;
}

/*---------for Report---------------*/
table tr td.header {
    font-weight: bold;
    padding: 10px;
    background: #f0f0f6;
}

/*---------Pop loading---------------*/
.hover:hover{background: #eee;}
.overlay {display: none; position: fixed;  z-index: 9998; width: 100%;height: 100%;top: 0px;left: 0px;background: #fff;z-index: 1001;opacity: .95;}
.overlay-load {width: 350px; margin: auto;top: 0px;bottom: 0px; position: fixed;  z-index: 9999; left: 0px;right: 0px;
          text-align: center;
           background: #fff url("loading-circle.gif") 50% 25%;
           background-repeat: no-repeat;          
}
.overlay-msg{margin-bottom: 10px;bottom: 0px;position: absolute;font-style: italic;color: rgb(19, 19, 19);}