<?php 
	$session_lang=new Zend_Session_Namespace('lang');
    $lang =	$session_lang->lang_id;
	  $tr=Application_Form_FrmLanguages::getCurrentlanguage();
      $array_icon = array(
      		'home'=>'<span class="icon_menu"><i class="fa  fa-home" aria-hidden="true"></i></span>',
      		'other'=>'<span class="icon_menu"><i class="fa  fa-info-circle" aria-hidden="true"></i></span>',
      		'document'=>'<span class="icon_menu"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>',
      		'eyespublic'=>'<span class="icon_menu"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>',
      		'company'=>'<span class="icon_menu"><i class="fa fa-industry" aria-hidden="true"></i></span>',
      		'advertising'=>'<span class="icon_menu"><i class="fa fa-industry" aria-hidden="true"></i></span>',
      		'group'=>'<span class="icon_menu"><i class="fa  fa-user-circle-o" aria-hidden="true"></i></span>',
      		'department'=>'<span class="icon_menu"><i class="fa fa-university" aria-hidden="true"></i></span>',
      		'report'=>'<span class="icon_menu"><i class="fa  fa-file-text" aria-hidden="true"></i></span>',
      		'rsvacl'=>'<span class="icon_menu"><i class="fa  fa-cog" aria-hidden="true"></i></span>',
      		'setting'=>'<span class="icon_menu"><i class="fa  fa-cogs" aria-hidden="true"></i></span>',
      		'menu-manager'=>'<span class="icon_menu"><i class="fa fa-list" aria-hidden="true"></i></span>',
      		'about'=>'<span class="icon_menu"><i class="fa fa-address-card" aria-hidden="true"></i></span>',
      		'field-manager'=>'<span class="icon_menu"><i class="fa fa-window-restore" aria-hidden="true"></i></span>',
      		);
	  $module=Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
      $session_user=new Zend_Session_Namespace('auth');
      $arr_module = $session_user->arr_module;
      $menuleft=array();
      $class='link';
      if(!empty($arr_module)){
      	foreach ($arr_module as $rs){
      		if($rs==$module){$class='current';}else{$class='link';}
      		$url =$this->url(array('module'=>$rs,'controller'=>'index','action'=>'index'), null, true);
      		if ($rs=="group"){
      			$menuleft[$rs]="<li class='$class'><a href='$url'><div>".$array_icon[$rs]."</div><span>".$tr->translate("CUSTOMER")."</span></a></li>";
      		}else{
      		$menuleft[$rs]="<li class='$class'><a href='$url'><div>".$array_icon[$rs]."</div><span>".$tr->translate(strtoupper($rs))."</span></a></li>";
      		}
      	}
      }
?>  
<div id="menu">
	<div class="logo" style="background:#fff;display: inline-block; vertical-align: top;">
		<img style="max-height:43px;padding:6px 0px 0px 6px;" src="<?php echo $this->baseurl();?>/public/images/logoministry.png" title="" />
	</div>
	<div class="menu_header" style=" width:75%; display: inline-block;">
	<ul>
		<?php
	$session_user=new Zend_Session_Namespace('auth');
		$modules_access = $session_user->arr_module;
			foreach($menuleft as $key=>$value){
				$access = array_search($key,$modules_access);
				//if($access!='' OR $access>=0){
					if($module==$value){
						echo str_replace('link', 'current',$value);
					}
					else{
						echo $value;
					}
				//}
			} 
		?>
	</ul>
	</div>
	<div class="language" style="width: 9%; display: inline-block;text-align: right;vertical-align: top; ">
		<?php if($lang ==1){?>
				<img onclick="changeLange(2);"  src="<?php echo $this->baseurl();?>/public/images/bkm.png" title="" style="height:40px;cursor: pointer;" />
			<?php }else{?>
				<img onclick="changeLange(1);" src="<?php echo $this->baseurl();?>/public/images/ben.jpg" title="" style="height:40px;cursor: pointer;" />
			<?php }?>
	</div>
</div>
<div class="overlay">
	<div class="overlay-load">
		<div class="overlay-msg">
	    </div>
	</div>
</div>
<script>
		
var url_changelang = '<?php echo $this->url(array('module'=>'default','controller'=>'index','action'=>'changelange'));?> ';
function changeLange(lang){
	dojo.xhrPost({
		url: url_changelang,
	    content :{ 
			    'lange':lang,
		},	
		handleAs:"json",
		load: function(data) {
			location.reload();
		},
		error: function(err) {
			
		}
	});
}
	</script>