<section id="contact" class="no-data">
   			<div style="text-align: center;
    padding: 120px 0px;border-top:1px solid #eee;">
   				<div class="content">
   						<img style="opacity:0.5" src="<?php echo $this->baseUrl().'/public/images/logo.png'?>">
   						<h2>
   						សូមអភ័យទោស មិនមានទិន្នន័យនោះទេ!
   						</h2>
   						<br>
   						<h4>សូមព្យាយាមម្ដងទៀត</h4>
   				</div>
   			</div>
    </section>
<style>
.no-data .content h2 {
    color: #00672e;
}
</style>