<?php
	$tr = Application_Form_FrmLanguages::getCurrentlanguage();
	echo $this->headTitle($tr->translate('EDIT_DOCUMENT_TYPE'));
	$rsdata = $this->rs;
?>	
<?php  $frm = $this->frm_client;?>
<script src="<?php echo $this->baseUrl();?>/public/js/help.js"  type="text/javascript"></script>
<script>
dojo.require("dojo.data.ItemFileWriteStore");  
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.NumberTextBox");
dojo.require("dijit.form.CheckBox");
dojo.require("dijit.Dialog");
dojo.require("dijit.layout.TabContainer");
dojo.require("dijit.form.Textarea");
</script>
<style>

</style>
<form id='company' action="" enctype="multipart/form-data" dojoType="dijit.form.Form" method="post">
	<script type="dojo/method" event="onSubmit">			
			if(this.validate()) {
				return true;
			} else {
				return false;
			}
	</script>
	<table  width="100%" style="margin-top:-5px;">
		<tr class="header">
			<td colspan="2"><strong><i class="fa fa-users" aria-hidden="true"></i><?php echo $tr->translate('EDIT_DOCUMENT_TYPE')?></strong></td>
		</tr>
		<tr>
			<td style="max-width:1100px;border: solid 1px #eee;background: rgba(241, 241, 241, 0.2);">
			<table style="margin: 0 auto; width: 50%;">
				<tr>
					<td align="left" valign="top">
							<table style="margin: 0 auto; width: 100%;" cellspacing="10">
								<tr>
									<td><?php echo $tr->translate("ប្រភេទឯកសារមេ")?></td>
									<td>
										<select class="fullside" dojoType="dijit.form.FilteringSelect" name="document_type" id="document_type"  autoComplete="false"​​ queryExpr="*${0}*">
											<?php if(!empty($this->document_type)){
													foreach($this->document_type as $rs){
											?>	
													<option value="<?php echo $rs['id'];?>"><?php echo $rs['title'];?></option>
											<?php }}?>
										</select>
									</td>
								</tr>
								<tr>
									<td><?php echo $tr->translate("NAME_KHMER")?></td>
									<td><input value="<?php echo $this->rs['title'];?>" dojoType="dijit.form.ValidationTextBox" required="1" class="fullside" name="document_typekh" id="document_typekh" type="text">
										<input value="<?php echo $this->rs['id'];?>" dojoType="dijit.form.TextBox" class="fullside" name="id" id="id" type="hidden">
									</td>
								</tr>
								<tr>
									<td><?php echo $tr->translate("NAME_ENG")?></td>
									<td><input value="<?php echo $this->rs['title_en'];?>" dojoType="dijit.form.ValidationTextBox" required="1" class="fullside" name="document_typeen" id="document_typeen" type="text"></td>
								</tr>
								<tr>
								<tr>
									<td><?php echo $tr->translate("ORDERING")?></td>
									<td><input dojoType="dijit.form.NumberTextBox" required="1" class="fullside" name="ordering" id="ordering" value="<?php echo $this->rs['ordering'];?>" type="text"></td>
								</tr>
								</tr>
								<tr>
									<td><?php echo $tr->translate("STATUS")?></td>
									<td>
										<select name="status" id="status" dojoType="dijit.form.FilteringSelect" required="true" class="fullside" autoComplete="false"​​ queryExpr="*${0}*">
										    <option value="1" <?php if($this->rs['status']==1){echo"selected";} ?>>ដំណើរការណ៍</option>
										    <option value="0" <?php if($this->rs['status']==0){echo"selected";} ?>>ផ្អាកដំណើរការណ៍</option>
										</select>
									</td>
								</tr>
								<tr>
									<td></td>
									<td align="center">
										<input type="reset" label="<?php echo $tr->translate('CLEAR');?>" dojoType="dijit.form.Button" iconClass="dijitIconClear" /> 
										<input type="submit" value="SAVE_NEW" tabindex="1" label="<?php echo $tr->translate('SAVE_CLOSE');?>" id="save_new" dojoType="dijit.form.Button" name="save_new"
											iconClass="dijitEditorIcon dijitEditorIconSave" />
									</td>
								</tr>
							</table>
						</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</form>
<table>
<tr>
</tr>
</table>
<script type="text/javascript">
var district_store  = getDataStorefromJSON('id','name', <?php print_r(Zend_Json::encode(array()));?> );
dojo.ready(function(){	
	dijit.byId("province_id").attr("value",12);
	/*try{
		new dijit.form.FilteringSelect({
		store: district_store,
		autoComplete: true,
		required: false,		           
		name: "district",
		id: "district",
		searchAttr: "name",
		class: 'fullside',
		missingMessage:"អ្នក​ភ្លេច​បំពេញ​ ឈ្មោះ ស្រុក/ខ័ណ្ឌ!",	
			onChange: function() {
				district = dijit.byId('district').get('value');
				if(district==-1){
					showPopupdistrict();
					}
					filterCommune();
			}  
		}, "district");
		 
		new dijit.form.FilteringSelect({
		store: commune,
		autoComplete: true,
		required: false,		           
		name: "commune",
		id: "commune",
		searchAttr: "name",
		class: 'fullside',
		missingMessage:"អ្នក​ភ្លេច​បំពេញ​ ឃុំ/សង្កាត់",	
			onChange: function() {
				commune = dijit.byId('commune').get('value');
				if(commune==-1){
					showPopupCommune();
				}
				else{
					filterVillage();
				}
			  }
		}, "commune");		 

	}catch(e){
		alert(e);
	}*/
});
</script>