<?php 
// $url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
$url = $this->baseUrl()."/documents/index?dctype=";
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
$session_lang=new Zend_Session_Namespace('lang');
$currentlang = $session_lang->lang_id;
if ($currentlang==1){
	$day = array("Mon"=>"Monday", "Tue"=>"Tuesday", "Wed"=>"Wednesday","Thu"=>"Thursday", "Fri"=>"Friday", "Sat"=>"Saturday", "Sun"=>"Sunday");
	$number = array("0","1","2","3","4","5","6","7","8","9");
	$month = array("01"=>"Jan", "02"=>"Feb", "03"=>"Mar","04"=>"Apr", "05"=>"May", "06"=>"Jun", "07"=>"Jul","08"=>"Aug", "09"=>"September", "10"=>"Oct","11"=>"Nov", "12"=>"Dec");
}else{
	$day = array("Mon"=>"ថ្ងៃច័ន្ទ", "Tue"=>"ថ្ងៃអង្គារ", "Wed"=>"ថ្ងៃពុធ","Thu"=>"ថ្ងៃព្រហស្បត្តិ៍", "Fri"=>"ថ្ងៃសុក្រ", "Sat"=>"ថ្ងៃសៅរ៍", "Sun"=>"ថ្ងៃអាទិត្យ");
	$number = array("០","១","២","៣","៤","៥","៦","៧","៨","៩");
	$month = array("01"=>"មករា", "02"=>"កុម្ភៈ", "03"=>"មិនា", "04"=>"មេសា", "05"=>"ឧសភា", "06"=>"មិថុនា", "07"=>"កក្កដា","08"=>"សីហា", "09"=>"កញ្ញា", "10"=>"តុលា","11"=>"វិច្ឆិកា", "12"=>"ធ្នូ");
}
$string="";
if(!empty($this->document_type)) foreach($this->document_type as $key =>$rs){
	if (empty($string)){
		$string = $rs['title'];
	}else{
		if ($key== (count($this->document_type)-1)){
			$string = $string." ".$tr->translate("AND").$rs['title'];
		}else{
			$br="";
			if ($key==4){
				$br="<br />";
			}
			$string = $string.", ".$br.$rs['title'];
		}
	}
}
if (!empty($this->doc_type)){
	$url = $url.base64_encode($this->doc_type['id']);
}
$ulrdep="";
if (!empty($this->depatment)){
	$ulrdep = "&department=".$this->depatment['alias'];
	$url = $url.$ulrdep;
}
?>
<title><?php echo empty($this->doc_type['title'])?$tr->translate("DOCUMENT")." ":$this->doc_type['title']." "; echo empty($this->depatment['title'])?"":$this->depatment['title']." "; ?></title>

<section class="content">
			<div class="container container-content">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('mobilelanguagemenu.phtml');
						?>
						<div class="home-breadcrum">
							<ul class="breadcrum-list">
								<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
								<?php if (!empty($this->depatment['title'])){?>
								<li><a href="<?php echo $this->baseUrl()."/departments/index?dept=".$this->depatment['alias'].".html";//$this->baseUrl()."/documents/index?department=".$this->depatment['alias'];?>"><?php echo $this->depatment['title'];?></a></li>
								<?php }?>
								<li><?php echo empty($this->doc_type['title'])?$tr->translate("DOCUMENT"):$this->doc_type['title'];?></li>
							</ul>
						</div>
						
						
						<div id="document-list" class="mtb-10 pr-20 pl-20"> 
							<div class="document-list" >
								<div class="row">
									
									<div class="col-sm-12 document-contant">
										<div class="head-title pr-10 pt-10  pl-10 mb-10">
											<h4 class="ptb-10"><?php echo empty($this->doc_type['title'])?$tr->translate("DOCUMENT"):$this->doc_type['title'];?></h4>
										</div>
										<div class="blog-document-list">
											<?php if (!empty($this->document)) foreach ($this->document as $document){
												$image = $this->baseUrl()."/public/images/noimage.jpg";
												if (!empty($document['image'])){
													$image = $this->baseUrl()."/public/file/image_feature/".$document['image'];
												}
												?>
											<div class="document-list pb-10 mb-10">
												<div class="col-sm-2 blog-image">
													<a href="<?php echo $this->baseUrl()."/public/file/".$document['file_name'];?>" target="_blank">
														<img src="<?php echo $image;?>">
													</a>
												</div>
												<div class="col-sm-10 blog-post-text">
													<h4><a target="_blank" href="<?php echo $this->baseUrl()."public/file/".$document['file_name'];?>"><?php echo $document['title'];?></a></h4>
													<p>
													<?php 
														$date = strtotime($document['modify_date']);
														$spp = str_split(date("d",$date));
														$num="";
														foreach ($spp as $ss){
															$num.=$number[$ss];
														}
														$year='';
														$sp_year = str_split(date("Y",$date));
														foreach ($sp_year as $y){
															$year.=$number[$y];
														}
														echo $day[date("D",$date)]." ".$num." ".$month[date("m",$date)]." ".$year;
														?>
													</p>
												</div>
												<div class="clearfix"></div>
											</div>
											<?php }?>
										</div>
				                        <?php 
				                        if($this->countPages>1){ 
										 	$statpage = $this->currentPage - 5;
										 	$endpage = $this->currentPage + 5;
										 	if ($this->currentPage<=5){
										 		$statpage = 1;
										 		$endpage =10;
										 	}
				                        if (!empty($this->countPages)){
										 ?> 
										<div class="pagination-wrapper text-center fix">
											<div class="pagination-content">
											  <?php if($this->countPages>1){ ?>
												<a class="ht-page <?php if($this->currentPage==1){ echo "active";}?>" href="<?php echo $url."&pages=".$this->previousPage;?>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
												<ul class="pagination">
													 <?php  $i=0; for( $i=1; $i<=$this->countPages; $i++){?>
				           			 				<?php if ($statpage<=$i && $endpage>=$i){?>
													<li class="<?php if($i==$this->currentPage){ echo "active";}?>"><a href="<?php echo $url."&pages=".$i;?>"><?php echo $i;?></a></li>
													 <?php }}?>
												</ul>
												<a class="ht-page <?php if($this->countPages==$this->currentPage){ echo "active"; }?>" href="<?php echo $url."&pages=".$this->nextPage;?>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
												<?php }?>
											</div>
										</div>
										 <?php }}?>
									</div>
									<div class="clearfix"></div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<?php 
							echo $this->render('languagemenu.phtml');
						?>
						<?php if(!empty($this->document_type)){?>
						<div id="blog-department" class="mtb-10"> 
							<div class="blog-department" >
								<div class="row">
									<div class="col-sm-12 blog-department-contant">
										<ul class="department">
											<?php foreach($this->document_type as $key =>$rs){?>
											<li <?php if($this->param== base64_encode($rs['id']) ){echo "class='activemenu'";}//OR ($this->param=='' AND $key==0)?>>
											<a href="<?php echo $this->baseUrl()."/documents/index?dctype=".base64_encode($rs['id']).$ulrdep;?>"><?php echo $rs['title'];?></a>
											</li>
											<?php }?>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<?php }?>
						<?php echo  $this->render('banner.phtml');?>
					</div>
					<div class="clearfix"></div>
				
				</div>
			</div>
		</section>
