<?php 
// $url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
$url = $this->baseUrl()."/companylist";
$tr = Application_Form_FrmLanguages::getCurrentlanguage();
?>
<title><?php echo $this->menu_info['title_menu'];?></title>
<section class="content">
	<div class="container container-content">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('mobilelanguagemenu.phtml');
				?>
				<div class="home-breadcrum">
					<ul class="breadcrum-list">
						<li><a href="<?php echo $this->baseUrl();?>"><?php echo $tr->translate("HOME");?></a></li>
						<li><?php echo $this->menu_info['title_menu'];?></li>
					</ul>
				</div>
				
				
				<div id="document-list" class="mtb-10 pr-20 pl-20"> 
					<div class="document-list" >
						<div class="row">
							
							<div class="col-sm-12 document-contant">
								<div class="head-title pr-10 pt-10  pl-10 mb-10">
									<h4 class="ptb-10"><?php echo $this->menu_info['title_menu'];?></h4>
								</div>
								<?php if (!empty($this->company)){?>
								<div class="result-blog ptb-20">
										<?php foreach ($this->company as $company){?>
										
										<div class="company-list ptb-10 mb-10">
											<div class="col-sm-4 blog-image">
													<?php 
													$image = $this->baseUrl()."/public/images/noimage.jpg";
													if (!empty($company['logo'])){
															$image = $this->baseUrl()."/public/companylogo/".$company['logo'];
														}
													?>
													<img src="<?php echo $image;?>">
											</div>
											<div class="col-sm-8 blog-companyinfo-text ">
												<h4><?php echo $company['com_name'];?></h4>
												<ul class="mtb-10">
													<?php if (!empty($company['province_name'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("CITY_PROVINCE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['province_name'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													  <?php if (!empty($company['address'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("ADDRESS");?></div>
														<div class="list-info col-sm-8"><?php echo $company['address'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['com_phone'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("PHONE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['com_phone'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['email'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("EMAIL");?></div>
														<div class="list-info col-sm-8"><?php echo $company['email'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
													 <?php if (!empty($company['website'])){?>
													<li>
														<div class="list-info lb-title col-sm-4"><?php echo $tr->translate("WEBSITE");?></div>
														<div class="list-info col-sm-8"><?php echo $company['website'];?></div>
														<div class="clearfix"></div>
													 </li>
													 <?php }?>
												</ul>
											</div>
										<div class="clearfix"></div>
									</div>
									<?php }?>
									<div class="clearboth"></div>
										<?php }?>
								</div>
		                        <?php 
		                        if($this->countPages>1){ 
								 	$statpage = $this->currentPage - 5;
								 	$endpage = $this->currentPage + 5;
								 	if ($this->currentPage<=5){
								 		$statpage = 1;
								 		$endpage =10;
								 	}
		                        if (!empty($this->countPages)){
								 ?> 
								<div class="pagination-wrapper text-center fix">
									<div class="pagination-content">
									  <?php if($this->countPages>1){ ?>
										<a class="ht-page <?php if($this->currentPage==1){ echo "active";}?>" href="<?php echo $url."?pages=".$this->previousPage;?>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
										<ul class="pagination">
											 <?php  $i=0; for( $i=1; $i<=$this->countPages; $i++){?>
		           			 				<?php if ($statpage<=$i && $endpage>=$i){?>
											<li class="<?php if($i==$this->currentPage){ echo "active";}?>"><a href="<?php echo $url."?pages=".$i;?>"><?php echo $i;?></a></li>
											 <?php }}?>
										</ul>
										<a class="ht-page <?php if($this->countPages==$this->currentPage){ echo "active"; }?>" href="<?php echo $url."?pages=".$this->nextPage;?>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										<?php }?>
									</div>
								</div>
								 <?php }}?>
							</div>
							<div class="clearfix"></div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?php 
					echo $this->render('languagemenu.phtml');
					echo $this->render('banner.phtml');
				?>
			</div>
			<div class="clearfix"></div>
		
		</div>
	</div>
</section>
